<kendo-card width="100%">
  <kendo-card-header class="flex-row">
    <kendo-buttongroup class="flex-left">
      <button kendoButton *ngIf="notificationService.errors.length > 0" [themeColor]="getButtonTheme('error')" (click)="switchShow('error')" size="small">Errors: {{ notificationService.errors.length }}</button>
      <button kendoButton *ngIf="notificationService.warnings.length > 0" [themeColor]="getButtonTheme('warning')" (click)="switchShow('warning')" size="small">Warnings: {{ notificationService.warnings.length }}</button>
      <button kendoButton *ngIf="notificationService.infos.length > 0" [themeColor]="getButtonTheme('info')" (click)="switchShow('info')" size="small">Infos: {{ notificationService.infos.length }}</button>
      <button kendoButton *ngIf="notificationService.successes.length > 0" [themeColor]="getButtonTheme('success')" (click)="switchShow('success')" size="small">Success: {{ notificationService.successes.length }}</button>
      <button kendoButton *ngIf="notificationService.debugs.length > 0" [themeColor]="getButtonTheme('debug')" (click)="switchShow('debug')" size="small">Debug: {{ notificationService.debugs.length }}</button>
    </kendo-buttongroup>
    <div class="flex-center">
      <kendo-switch style="width: 150px; margin-top: 5px;" [(ngModel)]="notificationService.autoCloseActive" offLabel="manual close" onLabel="automatic close" size="small"></kendo-switch>
    </div>
    <button kendoButton themeColor="secondary" (click)="closeAll()" icon="trash" class="flex-right" size="small"></button>
  </kendo-card-header>
  <kendo-card-body>
    <div *ngFor="let msg of notificationService.activeMessages" style="scroll-behavior: auto;">
      <itag-berufsbildung-notification-info [notificationMessage]="msg"></itag-berufsbildung-notification-info>
    </div>
  </kendo-card-body>
</kendo-card>
