<div *ngIf="adminModuleInfo">
  <p><b>{{ adminModuleInfo.description }}</b></p>
  <p>
    api: <a [href]="adminModuleInfo.apiUrl" target="_blank"><b>{{ adminModuleInfo.apiUrl }}</b></a>
  </p>
  <p>version: <b>{{ adminModuleInfo.version }}</b></p>
  <kendo-stacklayout [gap]="15" orientation="horizontal">

    <div class="flex-container-column">
      <kendo-card width="auto" *ngIf="adminModuleInfo?.availableRoles">
        <kendo-card-header>
          Zur Verfügung stehende Rollen:
        </kendo-card-header>
        <kendo-card-body>
          <ngx-json-viewer [json]="adminModuleInfo.availableRoles" [expanded]="true"></ngx-json-viewer>
        </kendo-card-body>
      </kendo-card>

      <kendo-card width="auto" *ngIf="menus.length > 0">
        <kendo-card-header>
          Zur Verfügung stehendes Menü:
        </kendo-card-header>
        <kendo-card-body>
          <kendo-expansionpanel
            *ngFor="let item of menus; index as i"
            [subtitle]="item.title ? item.title : 'title'"
            [expanded]="item.expanded ? item.expanded : false"
          >
            <ng-template kendoExpansionPanelTitleDirective >
              <div *ngIf="item?.separator">
                separator
                <hr style="width: 100%;">
              </div>
              <div *ngIf="!item?.separator">
                <div class="k-level-{{ item.level }}" kendoTooltip [title]="item.title">
                  <kendo-icon *ngIf="item.icon" [name]="item.icon"></kendo-icon>
                  {{ item.text ? item.text : 'text' }}
                </div>
              </div>
            </ng-template>
            <div *ngIf="!item?.separator">
              <p>text: <b>{{ item.text }}</b></p>
              <p>title: <b>{{ item.title }}</b></p>
              <p>path: <b>{{ item.path }}</b></p>
              <p>icon:
                <kendo-icon *ngIf="item.icon" [name]="item.icon"></kendo-icon>
                <b>{{ item.icon }}</b></p>
              <p>roles: <b>{{ item.right }}</b></p>
              <p>level: <b>{{ item.level }}</b></p>
            </div>
          </kendo-expansionpanel>
        </kendo-card-body>
      </kendo-card>
    </div>

    <kendo-card width="auto" *ngIf="adminModuleInfo?.availableRights">
      <kendo-card-header>
        Zur Verfügung stehende Rechte:
      </kendo-card-header>
      <kendo-card-body>
        <ngx-json-viewer [json]="adminModuleInfo.availableRights" [expanded]="true"></ngx-json-viewer>
      </kendo-card-body>
    </kendo-card>

  </kendo-stacklayout>

  <kendo-stacklayout [gap]="15" orientation="horizontal" *ngIf="hasRight('showDatabase') || hasRight('showAppSettings')">

    <kendo-card width="auto" *ngIf="adminModuleInfo?.dbSettings && hasRight('showDatabase')">
      <kendo-card-header>
        Datenbankeinstellungen:
      </kendo-card-header>
      <kendo-card-body>
        <ngx-json-viewer [json]="adminModuleInfo.dbSettings" [expanded]="true"></ngx-json-viewer>
      </kendo-card-body>
    </kendo-card>

    <kendo-card width="auto" *ngIf="hasRight('showAppSettings')">
      <kendo-card-header>
        Module-Einstellungen:
      </kendo-card-header>
      <kendo-card-body>
        <ngx-json-viewer [json]="adminModuleInfo.appConfig" [expanded]="true"></ngx-json-viewer>
      </kendo-card-body>
    </kendo-card>

  </kendo-stacklayout>

</div>
