<kendo-grid
  [kendoGridBinding]="gridView"
  kendoGridSelectBy="uuid"
  [(selectedKeys)]="mySelection"
  [pageable]="false"
  [sortable]="true"
  [groupable]="false"
  [reorderable]="false"
  [resizable]="false"
  [columnMenu]="{ filter: true }"
>
  <kendo-grid-column field="pbEmail" title="Praxisbildner">
  </kendo-grid-column>
  <kendo-grid-column field="date" title="Datum">
    <ng-template kendoGridCellTemplate let-dataItem>
      {{dataItem.date | date}}
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="rating" title="Einschätzung">
  </kendo-grid-column>
  <kendo-grid-column field="note" title="Notiz / Feedback">
  </kendo-grid-column>
</kendo-grid>
