<kendo-card style="width: 100%">
  <kendo-card-header>
    <kendo-icon name="calendar" size="medium"></kendo-icon>
    Jahresplanung
  </kendo-card-header>
  <kendo-card-body>
    <kendo-tabstrip>
      <kendo-tabstrip-tab title="Planungsansicht" [selected]="true">
        <ng-template kendoTabContent>
          <itag-berufsbildung-annual-planning-planning-view [store]="annualPlanningEventStore"></itag-berufsbildung-annual-planning-planning-view>
        </ng-template>
      </kendo-tabstrip-tab>
      <kendo-tabstrip-tab title="Übersicht">
        <ng-template kendoTabContent>
          <itag-berufsbildung-annual-planning-overview [store]="annualPlanningEventStore"></itag-berufsbildung-annual-planning-overview>
        </ng-template>
      </kendo-tabstrip-tab>
    </kendo-tabstrip>
  </kendo-card-body>
</kendo-card>
