<kendo-textbox
  [placeholder]="'Filter'"
  (keyup)="applyFilter($event)"
></kendo-textbox>
<kendo-listview
  [data]="filteredUsers"
  [height]="700"
  [style.margin-top]="'10px'">
  <ng-template kendoListViewItemTemplate
               let-dataItem="dataItem"
               let-isFirst="isFirst">
    <div class="contact" [class.border-top]="!isFirst" (click)="onAbSelect(dataItem)" [ngClass]="{'highlight': selectedApprenticeId === dataItem}">
      <div class="contact-details">
        {{dataItem | fullName}}
      </div>
    </div>
  </ng-template>
</kendo-listview>
