@import 'apps/portal/ui/src/styles/index';

.highlight {
  background: $secondary;
}

.highlight div {
  color: white;
}

.contact {
  display: flex;
  height: 55px;
  padding: 10px;
  align-items: center;
}
.contact.border-top {
  border-top: solid;
  border-color: #ecebeb;
  border-width: thin;
}
.contact-details {
  flex: 1;
  margin-left: 10px;
}
