@import 'apps/portal/ui/src/styles/index';

.input-property {
  margin-bottom: 16px;
}

.feedback-background-rejected {
  background-color: $warning;
  padding: 10px;
  border-radius: 5px;
  color: $white;
}

.feedback-background-accepted {
  background-color: $success;
  padding: 10px;
  border-radius: 5px;
  color: $white;
}

.background-not-on-time {
  background-color: $warning;
  border-radius: 5px;
  padding: 5px;
  color: $white;
}

.background-on-time {
  background-color: $success;
  padding: 5px;
  border-radius: 5px;
  color: $white;
}

.time-evaluation {
  font-size: 0.75rem;
}
