<!--shows the feedback if the state isn't reopened and not saved-->
<div class="input-property" *ngIf="entry?.feedback
  && (entry?.state !== 'saved' && entry?.state !== 'reopened')">
  <div [ngClass]="entry?.state === 'accepted' ? 'feedback-background-accepted' : 'feedback-background-rejected'">
    <b>Feedback von {{ entry?.feedbackFromEmail}}</b>
    <br>
    {{entry?.feedback}}
  </div>
</div>
<form [formGroup]="form" class="k-form">
  <kendo-formfield class="input-property">
    <kendo-label [for]="title" text="Titel"></kendo-label>
    <kendo-textbox #title formControlName="title" [readonly]="isFieldReadOnly('filling')"></kendo-textbox>

  </kendo-formfield>

  <kendo-formfield class="input-property">
    <kendo-label [for]="content" text="Inhalt"></kendo-label>
    <!--    hint: since we don't need all toolbar stuff we decide what we want-->
    <kendo-editor
      #content
      formControlName="content"
      style="height: 340px"
      [readonly]="isFieldReadOnly('filling')"
    >
      <!--        hint: else it does display everything-->
      <kendo-toolbar *ngIf="getUserIfCantEdit()" style="height: 0"></kendo-toolbar>
      <kendo-toolbar *ngIf="!getUserIfCantEdit()">
        <kendo-toolbar-buttongroup>
          <kendo-toolbar-button kendoEditorBoldButton></kendo-toolbar-button>
          <kendo-toolbar-button kendoEditorItalicButton></kendo-toolbar-button>
          <kendo-toolbar-button kendoEditorUnderlineButton></kendo-toolbar-button>
          <kendo-toolbar-button kendoEditorStrikethroughButton></kendo-toolbar-button>
        </kendo-toolbar-buttongroup>
        <kendo-toolbar-buttongroup>
          <kendo-toolbar-button kendoEditorAlignLeftButton></kendo-toolbar-button>
          <kendo-toolbar-button kendoEditorAlignCenterButton></kendo-toolbar-button>
          <kendo-toolbar-button kendoEditorAlignRightButton></kendo-toolbar-button>
          <kendo-toolbar-button kendoEditorAlignJustifyButton></kendo-toolbar-button>
        </kendo-toolbar-buttongroup>
        <kendo-toolbar-dropdownlist kendoEditorFontSize></kendo-toolbar-dropdownlist>
        <kendo-toolbar-dropdownlist kendoEditorFontFamily></kendo-toolbar-dropdownlist>
        <kendo-toolbar-colorpicker kendoEditorForeColor></kendo-toolbar-colorpicker>
        <kendo-toolbar-colorpicker kendoEditorBackColor view="gradient"></kendo-toolbar-colorpicker>
        <kendo-toolbar-buttongroup>
          <kendo-toolbar-button kendoEditorInsertUnorderedListButton></kendo-toolbar-button>
          <kendo-toolbar-button kendoEditorInsertOrderedListButton></kendo-toolbar-button>
          <kendo-toolbar-button kendoEditorIndentButton></kendo-toolbar-button>
          <kendo-toolbar-button kendoEditorOutdentButton></kendo-toolbar-button>
        </kendo-toolbar-buttongroup>
        <kendo-toolbar-buttongroup>
          <kendo-toolbar-button kendoEditorCreateLinkButton></kendo-toolbar-button>
          <kendo-toolbar-button kendoEditorUnlinkButton></kendo-toolbar-button>
        </kendo-toolbar-buttongroup>
        <kendo-editor-insert-table-button></kendo-editor-insert-table-button>
        <kendo-toolbar-buttongroup>
          <kendo-toolbar-button kendoEditorAddColumnBeforeButton></kendo-toolbar-button>
          <kendo-toolbar-button kendoEditorAddColumnAfterButton></kendo-toolbar-button>
          <kendo-toolbar-button kendoEditorAddRowBeforeButton></kendo-toolbar-button>
          <kendo-toolbar-button kendoEditorAddRowAfterButton></kendo-toolbar-button>
        </kendo-toolbar-buttongroup>
        <kendo-toolbar-buttongroup>
          <kendo-toolbar-button kendoEditorDeleteColumnButton></kendo-toolbar-button>
          <kendo-toolbar-button kendoEditorDeleteRowButton></kendo-toolbar-button>
          <kendo-toolbar-button kendoEditorDeleteTableButton></kendo-toolbar-button>
        </kendo-toolbar-buttongroup>
        <kendo-toolbar-buttongroup>
          <kendo-toolbar-button kendoEditorMergeCellsButton></kendo-toolbar-button>
          <kendo-toolbar-button kendoEditorSplitCellButton></kendo-toolbar-button>
        </kendo-toolbar-buttongroup>
      </kendo-toolbar>
    </kendo-editor>
  </kendo-formfield>

  <div class="input-property">
    Tags
    <br>
    <kendo-chip
      *ngFor="let tag of tags"
      style="margin-right: 5px"
      [removable]="!isFieldReadOnly('filling')"
      (remove)="onRemove($event)"
      [label]="tag"
      [fillMode]="'solid'"
      [themeColor]="'info'"
    >{{tag}}</kendo-chip>
    <kendo-textbox
      style="margin-top:5px"
      #tagInput placeholder="tags"
      [fillMode]="'flat'"
      (valueChange)="addTag($event)"
      *ngIf="isAbViewAndEditable()"
    ></kendo-textbox>
    <kendo-formhint
      *ngIf="isAbViewAndEditable()"
    >Mit einem , wird ein Tag hinzugefügt.</kendo-formhint>
  </div>

  <kendo-formfield class="input-property" style="width: 150px" *ngIf="isAbViewAndEditable()">
    <kendo-label [for]="targetDate" text="Datum"></kendo-label>
    <kendo-datepicker #targetDate formControlName="targetDate" calendarType="classic"></kendo-datepicker>
  </kendo-formfield>

  <kendo-formfield class="input-property" *ngIf="isPbViewAndPublished()">
    <kendo-label [for]="feedbackInput" text="Feedback"></kendo-label>
    <kendo-textarea
      #feedbackInput
      [placeholder]="'Feedback'"
      [resizable]="'none'"
      [rows]="5"
      [readonly]="isFieldReadOnly('feedback')"
      formControlName="feedback">
    </kendo-textarea>
    <kendo-formerror>Das Feedback muss mindestens 10 Zeichen lang sein!</kendo-formerror>
  </kendo-formfield>

</form>


<button
  (click)="navigateBack()"
  *ngIf="!isHistory"
  kendoButton
>
  Zurück
</button>
<div style="float: right">
  <div *ngIf="isButtonSaveAndPublishDisplayed()">
    <button
      kendoButton
      [themeColor]="'primary'"
      (click)="createOrUpdateEntry('published')"
      [disabled]="!form.valid"
      icon="share"
    >Veröffentlichen</button>

    <button
      kendoButton
      [themeColor]="'secondary'"
      style="margin-left: 10px"
      (click)="createOrUpdateEntry('saved')"
      [disabled]="!form.valid"
      icon="save"
    >Speichern</button>

    <button
      *ngIf="entry && !entry?.timestampLastPublish"
      kendoButton
      [themeColor]="'warning'"
      style="margin-left: 10px"
      (click)="openDeleteDialog()"
      icon="delete"
    >
      Löschen
    </button>
  </div>

  <div *ngIf="isButtonRejectAndAcceptDisplayed()">
    <button
      kendoButton
      [themeColor]="'primary'"
      style="margin-left: 10px"
      (click)="evaluateEntry('accepted')"
      [disabled]="!form.valid"
      icon="check"
    >Akzeptieren</button>

    <button
      kendoButton
      [themeColor]="'warning'"
      style="margin-left: 10px"
      (click)="evaluateEntry('rejected')"
      [disabled]="!form.valid"
      icon="minus"
    >Ablehnen</button>
  </div>

  <div *ngIf="isButtonReopenDisplayed()">
    <button
      kendoButton
      [themeColor]="'primary'"
      (click)="openReopenDialog()"
      [icon]="'unlock'"
    >Öffnen</button>
  </div>

</div>

<kendo-dialog
  title="Eintrag löschen"
  *ngIf="deleteDialogOpened"
  (close)="closeDeleteDialog(false)"
  [minWidth]="250"
  [width]="450"
>
  <p style="margin: 30px; text-align: center;">
    Soll der Eintrag gelöscht werden?
  </p>
  <kendo-dialog-actions>
    <button kendoButton (click)="closeDeleteDialog(false)" icon="cancel">Abbrechen</button>
    <button kendoButton (click)="closeDeleteDialog(true)" themeColor="error" icon="delete">
      Ok
    </button>
  </kendo-dialog-actions>
</kendo-dialog>

<kendo-dialog
title="Eintrag öffnen"
*ngIf="reopenDialogOpened"
(close)="closeReopenDialog(false)"
>
  <p style="margin: 30px; text-align: center;">
  Soll der Eintrag wieder geöffnet werden? Der AB kann diesen dann wieder bearbeiten.
</p>
<kendo-dialog-actions>
  <button kendoButton (click)="closeReopenDialog(false)" icon="cancel">Abbrechen</button>
  <button kendoButton (click)="closeReopenDialog(true)" themeColor="primary" icon="unlock">Öffnen</button>

</kendo-dialog-actions>
</kendo-dialog>
