<div>
  <div class="flex-container-column flex-100">
    <div class="flex-row flex-100">Für die Ausbildungsperiode vom {{period}}</div>
    <div class="flex-row flex-100px spaceTop">
      <div class="flex-container-column flex-50">Lehrling: {{abUser | fullName}}</div>
      <div class="flex-container-column flex-50">Ausbildner/-in: {{pbUser | fullName}}</div>
    </div>
    <div class="flex-row flex-100px spaceTop spaceBottom">
      <div class="flex-container-column flex-50">Lehrjahr: {{year$ | async}}</div>
      <div class="flex-container-column flex-50">Abteilung: IT-Berufsbildung</div>
    </div>
  </div>
</div>
