<div class="alignCenter">
  <kendo-card width="'100%'">
    <kendo-card-header>
      <div class="flex-row flex-100" style="height: 60px">
        <div class="flex-container-column flex-align-center">
          <button kendoButton (click)="onNavigateBack()" icon="arrow-left" themeColor="secondary" title="zurück"></button>
        </div>
        <div class="flex-container-column flex-align-center" style="margin-left: 8px">
          <h4>{{pageTitle}}</h4>
        </div>
      </div>
    </kendo-card-header>
    <kendo-card-body style="color: black">

      <div>
        <button kendoButton *ngIf="report && report.state >= 4" themeColor="primary" (click)="pdf.saveAs('Bericht.pdf')">
          PDF Herunterladen
        </button>
      </div>

      <kendo-pdf-export #pdf paperSize="A4" margin="2cm" forcePageBreak=".page-break" keepTogether=".prevent-split" [scale]="0.6">
        <!--Fusszeile-->
        <ng-template kendoPDFTemplate let-pageNum="pageNum">
          <div class="pageFooter">
            <p>{{reportTypeName}}</p>
            <p>{{currentDate.toLocaleDateString()}}</p>
            <p>Seite {{pageNum}}</p>
          </div>
        </ng-template>

        <div class="container">
          <itag-berufsbildung-pdf-header [reportTypeName]="reportTypeName"></itag-berufsbildung-pdf-header>
          <div *ngFor="let reportBlock of reportBlocks; index as i" style="margin-top: 40px" [class]="!['Details', 'Aufgaben', 'Unterschriften', 'Verteiler'].includes(reportBlock) ? 'prevent-split divider-line' : 'prevent-split'">
            <!--Überschrift für die Spalten-->
            <itag-berufsbildung-table-header-pdf *ngIf="reportBlock === 'Fachkompetenz'"></itag-berufsbildung-table-header-pdf>

            <!--Titel des Blocks-->
            <h3>{{!['Details', 'Unterschriften', 'Verteiler', 'Aufgaben'].includes(reportBlock) ? i : ''}} {{reportBlock}}</h3>
            <div *ngFor="let reportTypeDetail of getReportTypeDetailsOfBlock(reportBlock); index as j" >
              <!--Normale Fragen, Ziele und Probezeitabschluss-->
              <div *ngIf="reportTypeDetail.questionTitle">
                <div class="flex-container-column flex-100">
                  <div class="flex-row flex-100px spaceTop">
                    <b *ngIf="!['tpe', 'g', 'ft', 'gr'].includes(reportTypeDetail.contentTypeKey)">{{(i) + '.' + (j+1) + ' ' + reportTypeDetail.questionTitle}}</b>
                  </div>
                  <!--Normale Fragen nq-->
                  <itag-berufsbildung-answer-pdf
                    *ngIf="reportTypeDetail.contentTypeKey === 'nq'"
                    [questionDescription]="reportTypeDetail.questionDescription"
                    [mark]="getMarkOfAnswer(reportTypeDetail)"
                    [explanation]="getExplanationOfAnswer(reportTypeDetail)"
                    class="smallSpaceTop"
                  ></itag-berufsbildung-answer-pdf>

                  <!--Ziele g-->
                  <itag-berufsbildung-goal-pdf
                    *ngIf="reportTypeDetail.contentTypeKey === 'g'"
                    [goals]="getGoals(reportTypeDetail)"
                    class="smallSpaceTop"
                  ></itag-berufsbildung-goal-pdf>

                  <!--Probezeitabschluss tpe-->
                  <itag-berufsbildung-trial-period-end-pdf
                    *ngIf="reportTypeDetail.contentTypeKey === 'tpe'"
                    [trialPeriodEndText]="getTrialPeriodEndText(reportTypeDetail)"
                    class="smallSpaceTop"
                  ></itag-berufsbildung-trial-period-end-pdf>

                  <!--freier Text ft-->
                  <itag-berufsbildung-free-text-pdf
                    *ngIf="reportTypeDetail.contentTypeKey === 'ft'"
                    [text]="getExplanationOfAnswer(reportTypeDetail)"
                    class="smallSpaceTop"
                  ></itag-berufsbildung-free-text-pdf>

                  <!--Zielbewertung gr-->
                  <itag-berufsbildung-goal-review-pdf
                    *ngIf="reportTypeDetail.contentTypeKey === 'gr'"
                    [goalReviewAnswer]="getAnswerToQuestion(reportTypeDetail)"
                    [goalsFromLastPeriod]="getGoalsFromLastPeriod()"
                    class="smallSpaceTop"
                  ></itag-berufsbildung-goal-review-pdf>

                </div>
              </div>

              <!--Details-->
              <itag-berufsbildung-details-pdf
                *ngIf="reportTypeDetail.reportBlockTitle === 'Details'"
                [abUser]="abUser"
                [pbUser]="pbUser"
                [period]="report.period"
              ></itag-berufsbildung-details-pdf>

              <!--Unterschriften-->
              <itag-berufsbildung-signature-pdf
                *ngIf="reportTypeDetail.reportBlockTitle === 'Unterschriften'"
                [report]="report"
                [abUser]="abUser"
                [pbUser]="pbUser"
              ></itag-berufsbildung-signature-pdf>

              <!--Verteiler-->
              <itag-berufsbildung-distribution-list-pdf
                *ngIf="reportTypeDetail.reportBlockTitle === 'Verteiler'"
                [abUser]="abUser"
              ></itag-berufsbildung-distribution-list-pdf>
            </div>
          </div>

          <!--Info Personaldossier-->
          <p class="spaceTop">Dieser Bericht wird im Personaldossier abgelegt.</p>
        </div>
      </kendo-pdf-export>
    </kendo-card-body>
  </kendo-card>
</div>
