.alignCenter {
  display: block;
  padding: 20px 0;
  margin-left: 10%;
  margin-right: 10%;
}

.spaceTop {
  margin-top: 20px;
}

.smallSpaceTop {
  margin-top: 5px;
}

.spaceBottom {
  margin-bottom: 20px;
}

.pageFooter {
  width: 80%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 15px;
}

.divider-line {
  border-bottom: 1px solid black;
  padding-bottom: 15px;
}
