<kendo-scheduler
  #scheduler
  [kendoSchedulerBinding]="editService.events | async | toAny"
  [modelFields]="editService.fields"
  [loading]="editService.loading"
  [selectedDate]="selectedDate"
  [style]="'height: ' + (height - 190) + 'px;'"
  [editable]="true"
  timezone="Europe/Berlin"
  startTime="06:00"
  endTime="20:00"
  (cancel)="cancelHandler($event)"
  (eventDblClick)="eventDblClickHandler($event)"
  (remove)="removeHandler($event)"
  (save)="saveHandler($event)"
  (dragover)="onDragOver($event)"
  (drop)="onDrop($event)"
  (dragEnd)="dragEndHandler($event)"
  (resizeEnd)="resizeEndHandler($event)"
>
  <ng-template
    kendoSchedulerEventTemplate
    let-event="event"
  >
    {{event.dataItem.title}}
    <span *ngIf="event.dataItem.task.state === moduleConstants.moduleProjectStates.finished">(fertig)</span>
    <span *ngIf="event.dataItem.task.state === moduleConstants.moduleProjectStates.closed">(geschlossen)</span>
  </ng-template>

  <ng-template
    kendoSchedulerEditDialogTemplate
    autoFocusedElement=".title-input"
    let-formGroup="formGroup"
  >
    <div class="k-form-inline">
      <div class="k-form-field">
        <span>Titel</span>
        <input
          kendoTextBox
          id="title-input"
          class="k-rounded-md"
          placeholder="Title"
          [formControl]="formGroup.get('title')"
        />
      </div>
      <div class="k-form-field">
        <span>Beschreibung</span>
        <input
          kendoTextBox
          id="description-input"
          class="k-rounded-md"
          placeholder="Beschreibung"
          [formControl]="formGroup.get('description')"
        />
      </div>
      <div class="k-form-field k-datetime-picker-wrapper">
        <span>Start</span>
        <kendo-timepicker
          class="custom-picker"
          [formControl]="formGroup.get('start')"
          *ngIf="!formGroup.controls.isAllDay.value"
        >
        </kendo-timepicker>
      </div>
      <div class="k-form-field k-datetime-picker-wrapper">
        <span>Ende</span>
        <kendo-timepicker
          class="custom-picker"
          [formControl]="formGroup.get('end')"
          *ngIf="!formGroup.controls.isAllDay.value"
        >
        </kendo-timepicker>
      </div>
    </div>
  </ng-template>

  <kendo-scheduler-day-view></kendo-scheduler-day-view>

</kendo-scheduler>

<itag-berufsbildung-daily-planning-log
  [dailyPlanningLogStore]="logStore"
  [dailyPlanningEventStore]="store"
  [dailyPlanningLog]="dailyPlanningLog"
  [selectedOwner]="selectedOwner"
  [selectedDate]="selectedDate"
  [isReadonly]="getPlanningLogFormReadonly()"
></itag-berufsbildung-daily-planning-log>

<itag-berufsbildung-daily-planning-task-conclusion-dialog #conclusionDialog></itag-berufsbildung-daily-planning-task-conclusion-dialog>
