
<div class="container flex-container-column flex-100">
  <kendo-expansionpanel
    *ngFor="let formGroup of formGroups; index as i"
    [expanded]="i === formGroups.length - 1"
    (action)="onExpansionPanelAction($event, i)"
  >
    <ng-template kendoExpansionPanelTitleDirective>
      <div class="headerContent">
        <b>{{getExpansionPanelTitle(formGroup)}}</b>
      </div>
    </ng-template>
      <form [formGroup]="formGroup" class="flex-row">
        <div class="flex-container-column" style="width: 40px">
          <div>
            <div kendoTooltip position="right">
              <kendo-label class="k-radio-label marginRight" [for]="a" text="A"></kendo-label>
              <input kendoRadioButton type="radio" title="übertroffen" name="mark" value="A" formControlName="mark" #a>
            </div>
            <div kendoTooltip position="right">
              <kendo-label class="k-radio-label marginRight" [for]="b" text="B"></kendo-label>
              <input kendoRadioButton type="radio" title="gut erreicht (Ziel)" name="mark" value="B" formControlName="mark" #b>
            </div>
            <div kendoTooltip position="right">
              <kendo-label class="k-radio-label marginRight" [for]="c" text="C"></kendo-label>
              <input kendoRadioButton type="radio" title="knapp erreicht" name="mark" value="C" formControlName="mark" #c>
            </div>
            <div kendoTooltip position="right">
              <kendo-label class="k-radio-label marginRight" [for]="d" text="D"></kendo-label>
              <input kendoRadioButton type="radio" title="nicht erreicht" name="mark" value="D" formControlName="mark" #d>
            </div>
          </div>
        </div>
        <div class="flex-container-column" style="margin-bottom: 10px; width: 100%">
          <kendo-textarea
            [readonly]="readonly"
            formControlName="explanation"
            [placeholder]="'Begründung eingeben'"
            [ngClass]="{'k-invalid': !formGroup.valid && !readonly}"
            resizable="vertical"
            [rows]="4">
          </kendo-textarea>
        </div>
      </form>
      <div class="flex-row">
        <button kendoButton themeColor="primary" *ngIf="!readonly" (click)="onSkipGoalReview(formGroup)">Ziel nicht bewerten</button>
      </div>
  </kendo-expansionpanel>

  <div class="flex-row spaceTop">
    <button kendoButton themeColor="secondary" (click)="onBack()" *ngIf="navigationActive && !isFirstStep">Zurück</button>
    <button kendoButton themeColor="primary" (click)="onNext()" *ngIf="navigationActive" [style.margin-left]="'10px'" [disabled]="areFormsInvalid()">{{!isLastStep ? 'Nächste Frage' : 'Abschliessen'}}</button>
    <button kendoButton themeColor="primary" (click)="onWriteNote()" *ngIf="!canCreateNotes && navigationActive" [style.margin-left]="'10px'">Notiz schreiben</button>
    <button kendoButton themeColor="primary" *ngIf="showAnswerToOtherRoleActive" (click)="onShowAnswerToOtherRole()" [style.margin-left]="'10px'">Antwort anzeigen</button>
  </div>
</div>

<!--Dialog für Freigabe der Antworten als AB-->
<kendo-dialog
  title="Antworten freigeben?"
  *ngIf="isPublishDialogOpen"
  (close)="isPublishDialogOpen = false"
>
  <p>Antworten gleich freigeben?</p>
  <kendo-dialog-actions>
    <button kendoButton (click)="answersToPublish = true; onSaveAndPublish()" themeColor="primary">Freigeben</button>
    <button kendoButton (click)="isPublishDialogOpen = false; onSaveAndPublish()" themeColor="secondary">Abbrechen</button>
  </kendo-dialog-actions>
</kendo-dialog>


