<div class="flex-container-column flex-fill">
  <div class="flex-row flex-fill">
    <div class="flex-container-column">
      <button kendoButton *ngIf="user?.hasRight(moduleConstants.moduleName, moduleConstants.availableRights.ui.dailyPlanningLog.canCreate) && !dailyPlanningLog" themeColor="primary" (click)="submitPlan()">Tagesplan freigeben</button>
    </div>
    <div class="flex-container-column">
      <button kendoButton *ngIf="dailyPlanningLog" themeColor="primary" (click)="openDayConclusionDialog()">{{!dailyPlanningLog.closed ? 'Tagesfazit schreiben' : 'Tagesfazit anschauen'}}</button>
    </div>
  </div>
</div>

<kendo-dialog
  title="Tagesfazit vom {{selectedDate | date}}"
  *ngIf="isDayConclusionDialogOpen"
  (close)="closeDialog(false, false)"
  [minWidth]="900"
  [width]="900"
  [minHeight]="400"
>
  <kendo-expansionpanel
    *ngFor="let item of dailyPlanningEventStore.dailyPlanningEvents$ | async; index as i"
    [title]="item.title"
    [subtitle]="item.usedTime + 'min ' + getTimeArrow(item)"
    (action)="onExpandPanel(i)"
  >
    <div [innerHTML]="item.taskConclusion"></div>
  </kendo-expansionpanel>

  <form [formGroup]="formGroup" class="space-top k-form">
    <kendo-label [for]="dayConclusion" text="Tagesfazit mit Beschreibung was gut und weniger gut gelaufen ist"></kendo-label>
    <kendo-editor
      #dayConclusion
      formControlName="dayConclusion"
      [iframe]="false"
      [readonly]="isReadonly || (dailyPlanningLog ? dailyPlanningLog.closed : false)"
      style="height: 300px;"
    ></kendo-editor>
  </form>

  <kendo-dialog-actions>
    <button kendoButton (click)="closeDialog(false, false)" icon="cancel"></button>
    <button kendoButton *ngIf="!dailyPlanningLog?.closed" [disabled]="!formGroup.valid || isReadonly" (click)="closeDialog(true, false)" themeColor="secondary" icon="save"></button>
    <button kendoButton *ngIf="!dailyPlanningLog?.closed" [disabled]="!formGroup.valid || isReadonly" (click)="closeDialog(true, true)" themeColor="primary" icon="check"></button>
  </kendo-dialog-actions>
</kendo-dialog>
