<form novalidate class="k-form" [formGroup]="editForm">


  <ng-container *ngFor="let column of this.displayedInputs">
    <kendo-formfield  [ngSwitch]="column.type">

      <kendo-label [for]="'Control'" [text]="column.inputName"></kendo-label>
      <kendo-textbox *ngSwitchCase="'string'" [formControlName]="column.inputName" #Control [readonly]="column.readonly"></kendo-textbox>
      <kendo-numerictextbox *ngSwitchCase="'number'" [formControlName]="column.inputName" #Control [readonly]="column.readonly"></kendo-numerictextbox>
      <input type="checkbox" *ngSwitchCase="'checkbox'" [formControlName]="column.inputName" #Control [readonly]="column.readonly">
      <kendo-dateinput *ngSwitchCase="'date'" [formControlName]="column.inputName" #Control [readonly]="column.readonly"></kendo-dateinput>
      <kendo-formerror>Fehler: {{column.inputName}} ist ein Pflichtfeld</kendo-formerror>

    </kendo-formfield>
  </ng-container>

</form>
<button kendoButton (click)="onCancel()">Abbrechen</button>
<div style="float: right">
  <button *ngIf="user.hasRight(moduleName, this.rights.canUpdate) || user.hasRight(moduleName, this.rights.canCreate)" icon="save" kendoButton themeColor="primary" [disabled]="!editForm.valid" (click)="onSave()"></button>
  <button *ngIf="user.hasRight(moduleName, this.rights.canDelete) && !this.isNew" icon="delete" kendoButton themeColor="primary" (click)="openRemoveDialog(true)"></button>
  <button *ngIf="user.hasRight(moduleName, this.rights.canRemove) && !this.isNew" icon="close" kendoButton themeColor="error" (click)="openRemoveDialog(false)"></button>
</div>
<kendo-dialog
  title="Eintrag löschen"
  *ngIf="isRemoveOrDeleteConfirmDialogOpen"
  (close)="closeRemoveDialog(false)"
  [width]="400">
  <p>Soll der Eintrag gelöscht werden?</p>
  <kendo-dialog-actions>
    <button kendoButton (click)="closeRemoveDialog(false)" icon="cancel">Abbrechen</button>
    <button kendoButton (click)="closeRemoveDialog(true)" themeColor="error" icon="delete">Ok</button>
  </kendo-dialog-actions>
</kendo-dialog>
