<div
  *ngIf="user?.hasRight(moduleName, rights.canShowDeleted)"
  id="showDeletedControls"
  style="
  display: flex;
  margin-bottom: 10px;
  justify-content: flex-end;
  vertical-align: middle;"
>
  Gelöschte Einträge anzeigen:
  <kendo-switch [(ngModel)]="showDeleted" (valueChange)="showOrHideIsDeletedEntries($event)"></kendo-switch>
</div>
<kendo-grid
  [style.maxHeight.px]="gridOptions.maxHeightPx"
  [data]="gridData | async"
  [pageable]="gridOptions.pageable"
  [pageSize]="gridState.take"
  [skip]="gridState.skip"
  [sortable]="gridOptions.sortable"
  [filterable]="gridOptions.filterable"
  [filter]="gridState.filter"
  [sort]="gridState.sort"
  [selectable]="gridOptions.selectable"
  (selectionChange)="selectionChange($event)"
  (dataStateChange)="onStateChange($event)"
  (edit)="editHandler($event)"
  (cancel)="cancelHandler($event)"
  (remove)="removeHandler($event)"
  (save)="saveHandler($event)"
  (add)="addHandler($event)"
>
  <ng-template kendoGridToolbarTemplate *ngIf="gridOptions.showToolbar">
    <button
      kendoGridAddCommand
      *ngIf="user.hasRight(moduleName, rights.canCreate) && gridOptions.showAddButton"
      icon="plus"
      title="Eintrag hinzufügen"
    ></button>
    <button kendoGridPDFCommand *ngIf="gridOptions.pdfExport" icon="file-pdf">PDF exportieren</button>
    <button kendoGridExcelCommand *ngIf="gridOptions.excelExport" icon="file-excel">Excel exportieren</button>
  </ng-template>

  <ng-container *ngFor="let column of displayedColumns">

    <kendo-grid-column
      [field]="column.columnName"
      [title]="column.columnTitle ? column.columnTitle : column.columnName"
      [width]="column.width"
    >
      <ng-template kendoGridCellTemplate let-dataItem>
        <div [ngSwitch]="column.type">
          <div *ngSwitchCase="'date'">{{dataItem[column.columnName] | date}}</div>
          <div *ngSwitchCase="'autocompleteComplex'">{{getAutocompleteTextValue(column.columnName, dataItem[column.columnName], column.valueField, column.textField)}}</div>
          <div *ngSwitchCase="'dropdownComplex'">{{getAutocompleteTextValue(column.columnName, dataItem[column.columnName], column.valueField, column.textField)}}</div>
          <div *ngSwitchDefault>{{dataItem[column.columnName]}}</div>
        </div>

      </ng-template>
      <ng-template kendoGridEditTemplate let-dateItem="dataItem" let-formGroup="formGroup" [ngSwitch]="column.type">
        <kendo-textbox *ngSwitchCase="'string'" [value]="dateItem[column.columnName]" [formControl]="formGroup.get(column.columnName)" [readonly]="column.readonly"></kendo-textbox>
        <kendo-numerictextbox *ngSwitchCase="'number'" [value]="dateItem[column.columnName]" [formControl]="formGroup.get(column.columnName)" [readonly]="column.readonly"></kendo-numerictextbox>
        <input type="checkbox" kendoCheckBox *ngSwitchCase="'checkbox'" [value]="dateItem[column.columnName]" [formControl]="formGroup.get(column.columnName)" [readonly]="column.readonly">
        <kendo-datepicker *ngSwitchCase="'date'" [value]="dateItem[column.columnName]" [formControl]="formGroup.get(column.columnName)" [readonly]="column.readonly"></kendo-datepicker >
        <kendo-autocomplete *ngSwitchCase="'autocompletePrimitive'" [data]="column.dropdownPrimitiveData" [disabled]="column.readonly" [formControl]="formGroup.get(column.columnName)"></kendo-autocomplete>
        <kendo-autocomplete
          *ngSwitchCase="'autocompleteComplex'"
          [data]="column.dropdownComplexData | async"
          [value]="getAutocompleteTextValue(column.columnName, dateItem[column.columnName], column.valueField, column.textField)"
          [valueField]="column.textField ? column.textField : '' "
          [disabled]="column.readonly"
          (valueChange)="setAutocompleteValueToFormControl(column.columnName, $event, column.valueField, column.textField)">
        </kendo-autocomplete>
        <kendo-dropdownlist
          *ngSwitchCase="'dropdownComplex'"
          [data]="column.dropdownComplexData | async"
          [textField]="column.textField ? column.textField : ''"
          [valueField]="column.valueField ? column.valueField : ''"
          [valuePrimitive]="true"
          [formControl]="formGroup.get(column.columnName)">
          [disabled]="column.readonly"
        </kendo-dropdownlist>
      </ng-template>
    </kendo-grid-column>
  </ng-container>

  <kendo-grid-command-column title="command" [width]="10" *ngIf="gridOptions.showCommandColumn">
    <ng-template kendoGridCellTemplate>
      <button
        kendoGridEditCommand
        *ngIf="user?.hasRight(moduleName, rights.canUpdate)"
        [primary]="true"
        icon="edit"
        title="bearbeiten"
      ></button>
      <button
        kendoGridRemoveCommand
        *ngIf="user?.hasRight(moduleName, rights.canModifyDelete)"
        (click)="isRemoveRemove = false"
        icon="delete"
        title="löschen"
      ></button>
      <button
        kendoGridRemoveCommand
        *ngIf="user?.hasRight(moduleName, rights.canRemove)"
        (click)="isRemoveRemove = true"
        icon="close"
        title="entfernen"
      ></button>
      <button
        kendoGridSaveCommand
        [disabled]="formGroup ? formGroup.invalid : true"
        icon="save"
        title="speichern"
      ></button>
      <button kendoGridCancelCommand icon="cancel" title="abbrechen"></button>
    </ng-template>
  </kendo-grid-command-column>

  <kendo-grid-pdf *ngIf="gridOptions.pdfExport" fileName="export.pdf" [allPages]="true" paperSize="A4" [repeatHeaders]="true" [landscape]="true">
    <kendo-grid-pdf-margin top="2cm" left="1cm" right="1cm" bottom="2cm"></kendo-grid-pdf-margin>
    <ng-template kendoGridPDFTemplate let-pageNum="pageNum" let-totalPages="totalPages">
      <div class="page-template">
        <div class="header">
          {{moduleName}} Einträge
        </div>
        <div class="footer">
          Seite {{ pageNum }} von {{ totalPages }}
        </div>
      </div>
    </ng-template>
  </kendo-grid-pdf>

  <kendo-grid-excel fileName="export.xlsx"></kendo-grid-excel>

</kendo-grid>

<kendo-dialog
  title="Eintrag löschen"
  *ngIf="isRemoveOrDeleteConfirmDialogOpen"
  (close)="closeRemoveDialog(false)"
  [width]="400">
  <p>Soll der Eintrag gelöscht werden?</p>
  <kendo-dialog-actions>
    <button kendoButton (click)="closeRemoveDialog(false)" icon="cancel">Abbrechen</button>
    <button kendoButton (click)="closeRemoveDialog(true)" themeColor="error" icon="delete">Ok</button>
  </kendo-dialog-actions>
</kendo-dialog>

