.signatureTable {
  width: 100%;
}

.signatureTable th {
  width: 50%;
  text-align: left;
  vertical-align: top;
}

.signatureTable td {
  padding-bottom: 30px;
}

.lineForSignature {
  width: 98%;
  height: 50px;
  border-bottom: black solid 1px;
}
