<div>
  <table *ngIf="report.hasMarkD" class="signatureTable">
    <tr>
      <th style="width: 50%">Unterschrift der verantwortlichen Praxisbildnerin/ des verantwortlichen Praxisbildners:</th>
      <th>Unterschrift der lernenden Person:</th>
    </tr>
    <tr>
      <td><div class="lineForSignature"></div></td>
      <td><div class="lineForSignature"></div></td>
    </tr>
    <tr>
      <th></th>
      <th>Unterschrift der Eltern:</th>
    </tr>
    <tr>
      <td></td>
      <td><div class="lineForSignature"></div></td>
    </tr>
  </table>
  <div *ngIf="!report.hasMarkD" style="padding-bottom: 20px">
    <p>{{getSignatureText('pb')}}</p>
    <p>{{getSignatureText('ab')}}</p>
  </div>
</div>
