<kendo-card class="center" style="width: 100%;">
  <kendo-card-header>
    <kendo-icon name="user" size="medium"></kendo-icon>
    Profile
  </kendo-card-header>
  <kendo-card-body *ngIf="userDto">
    <kendo-avatar [imageSrc]="picture" shape="circle" (click)="doRefresh()"></kendo-avatar>
    <p>Angemeldeter Benutzer: <b>{{ userDto.eMail }}</b></p>
    <div *ngIf="userDto">
      <kendo-tabstrip>
        <kendo-tabstrip-tab *ngFor="let moduleName of modules; let first=first;" [title]="moduleName" [selected]="first">
          <ng-template kendoTabContent>
            <kendo-stacklayout gap="15" orientation="horizontal">
              <div style="width: auto;">
                <h3>Rollen</h3>
                <div *ngFor="let kv of (userDto.uiRoles[moduleName] | keyvalue)">
                  <itag-berufsbildung-role-info [roleName]="kv.key" [roleInfo]="kv.value"></itag-berufsbildung-role-info>
                </div>
              </div>
              <div>
                <h3>Rechte</h3>
                <ul>
                  <li *ngFor="let role of userDto.uiRights[moduleName]">{{ role }}</li>
                </ul>
              </div>
            </kendo-stacklayout>
          </ng-template>
        </kendo-tabstrip-tab>
      </kendo-tabstrip>
    </div>
    <div *ngIf="!userDto">
      <p>You are sing-in but current you have no access to any module. Please contact the application owner!</p>
    </div>
  </kendo-card-body>
</kendo-card>
