<kendo-card style="width: 100%">
  <kendo-card-header>
    <kendo-icon name="calendar" size="medium"></kendo-icon>
    Tagesplanung
  </kendo-card-header>
  <kendo-card-body>
    <div class="flex-container-column flex-fill">
      <div class="flex-row flex-fill">
        <div class="flex-container-column flex-30">
          <itag-berufsbildung-project-task-list
            [isForDailyPlanning]="true"
            [showFilter]="true"
          ></itag-berufsbildung-project-task-list>
        </div>
        <div class="flex-container-column flex-70">
          <itag-berufsbildung-daily-planning-planning-view></itag-berufsbildung-daily-planning-planning-view>
        </div>
      </div>
    </div>
  </kendo-card-body>
</kendo-card>
