<div>
  <table class="distributionTable">
    <tr>
      <th>Wer</th>
      <th>Name</th>
    </tr>
    <tr>
      <td>Berufsbildner</td>
      <td>Dirk Decher</td>
    </tr>
    <tr>
      <td>Berufsbildungsverantwortliche</td>
      <td>Nadja Eichenberger</td>
    </tr>
    <tr>
      <td>Berufslernende/r</td>
      <td>{{abUser | fullName}}</td>
    </tr>
  </table>
</div>
