.distributionTable {
  border-collapse: collapse;
}

.distributionTable th{
  text-align: left;
  height: 20px;
  border: 1px solid black;
  background-color: #A6A6A6;
  padding-left: 5px;
}

.distributionTable td{
  padding-right: 10px;
  padding-left: 5px;
  height: 20px;
  border: 1px solid black;
}
