<kendo-dialog
  title="Fazit zu {{dailyPlanningEvent.title}}"
  *ngIf="isDialogOpen"
  (close)="closeDialog()"
  [minWidth]="925"
  [width]="925"
  [height]="800"
>
  <kendo-tabstrip>
    <kendo-tabstrip-tab title="Fazit" [selected]="true">
      <ng-template kendoTabContent>

        <form [formGroup]="formGroup" class="k-form" style="margin-bottom: 30px;">
          <kendo-formfield>
            <kendo-label [for]="usedTime" text="Gebrauchte Zeit in Minuten"></kendo-label>
            <kendo-numerictextbox #usedTime formControlName="usedTime" [readonly]="isReadonly"></kendo-numerictextbox>
          </kendo-formfield>
          <kendo-formfield>
            <kendo-label [for]="conclusion" text="Beschreibung"></kendo-label>
            <kendo-editor
              #conclusion
              formControlName="taskConclusion"
              [iframe]="false"
              [readonly]="isReadonly"
              style="height: 300px;"
            ></kendo-editor>
          </kendo-formfield>
          <kendo-formfield>
            <kendo-label [for]="isFinished" text="Aufgabe beendet?"></kendo-label>
              <input #isFinished type="checkbox" kendoCheckBox formControlName="isTaskFinished" />
          </kendo-formfield>
        </form>

        <ng-container *ngIf="this.user.hasRight(this.moduleConstants.moduleName, this.moduleConstants.availableRights.ui.dailyPlanningEvent.canUpdateState) && !this.dailyPlanningEvent.isTaskClosed && this.dailyPlanningEvent.isTaskFinished">
          <button kendoButton *ngIf="!dailyPlanningEvent.isTaskClosed" (click)="acceptFinishedTask()" style="margin-right: 8px">Bestätigen</button>
          <button kendoButton *ngIf="!dailyPlanningEvent.isTaskClosed" (click)="acceptFinishedTask(true)">Bestätigen mit Notiz</button>
        </ng-container>
        <b *ngIf="dailyPlanningEvent.isTaskClosed">Task ist geschlossen.</b>
      </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab title="Kompetenzen" [selected]="false">
      <ng-template kendoTabContent>
        <form [formGroup]="formGroup" class="k-form">

          <div>
            <kendo-gridlayout
              [gap]="{ rows: 5, cols: 5 }"
              [rows]="[
                { height: 280 },
                { height: 280 },
              ]"
              [cols]="[
                { width: 430 },
                { width: 430 },
              ]"
            >
              <kendo-gridlayout-item *ngFor="let competence of moduleConstants.competences | keyvalue">
                <itag-berufsbildung-daily-planning-task-competence-form
                  [reasonControl]="formGroup.get(competence.key + 'Begruendung')"
                  [competenceControl]="formGroup.get(competence.key)"
                  [title]="competence.value.name"
                  [competences]="competence.value['competences']"
                  [isReadonly]="isReadonly"
                ></itag-berufsbildung-daily-planning-task-competence-form>
              </kendo-gridlayout-item>
            </kendo-gridlayout>
          </div>

        </form>
      </ng-template>
    </kendo-tabstrip-tab>
  </kendo-tabstrip>

  <kendo-dialog-actions>
    <button kendoButton (click)="closeDialog()" icon="cancel"></button>
    <button kendoButton (click)="closeDialog(true)" [disabled]="!formGroup.valid || isReadonly" themeColor="primary" icon="save"></button>
  </kendo-dialog-actions>
</kendo-dialog>
