<div class="container flex-container-column flex-100">
  <form [formGroup]="formGroup" class="flex-row flex-100">
    <kendo-editor
      formControlName="explanation"
      [readonly]="readonly"
      style="height: 300px; width: 100%"
    ></kendo-editor>
  </form>

  <div style="margin-top: 10px">
    <button kendoButton themeColor="secondary" (click)="onBack()" *ngIf="navigationActive && !isFirstStep">Zurück</button>
    <button kendoButton themeColor="primary" (click)="onSaveAnswerAndNext()" *ngIf="navigationActive" [style.margin-left]="'10px'" [disabled]="!formGroup.valid">{{!isLastStep ? 'Nächste Frage' : role === 'pb' && !isDiscussion ? 'Abschliessen' : 'Speichern'}}</button>
    <button kendoButton themeColor="primary" (click)="onWriteNote()" [style.margin-left]="'10px'">Notiz schreiben</button>
    <button kendoButton themeColor="primary" *ngIf="showAnswerToOtherRoleActive" (click)="onShowAnswerToOtherRole()" [style.margin-left]="'10px'">Antwort anzeigen</button>
  </div>
</div>
