<kendo-buttongroup>
  <button kendoButton *ngIf="notificationService.errors.length > 0" kendoTooltip="Errors" themeColor="error" (click)="showDialog('error')" size="small">{{ notificationService.errors.length }}</button>
  <button kendoButton *ngIf="notificationService.warnings.length > 0" themeColor="warning" (click)="showDialog('warning')" size="small">{{notificationService. warnings.length }}</button>
  <button kendoButton *ngIf="notificationService.infos.length > 0" themeColor="info" (click)="showDialog('info')" size="small">{{ notificationService.infos.length }}</button>
  <button kendoButton *ngIf="notificationService.successes.length > 0" themeColor="success" (click)="showDialog('success')" size="small">{{ notificationService.successes.length }}</button>
  <button kendoButton *ngIf="notificationService.debugs.length > 0" themeColor="inverse" (click)="showDialog('debug')" size="small">{{ notificationService.debugs.length }}</button>
</kendo-buttongroup>

<kendo-window
  *ngIf="showDetails"
  (close)="openClose(false)"
  [resizable]="false"
  state="maximized"
>
  <kendo-window-titlebar>
    <div class="k-window-title">{{ (notificationService.messages$ | async)?.length }} Systemmeldungen!</div>
    <button kendoWindowCloseAction></button>
  </kendo-window-titlebar>

  <itag-berufsbildung-notification-list ></itag-berufsbildung-notification-list>
</kendo-window>
