.k-level-1 {
  padding-left: 20px;
}

.k-level-2 {
  padding-left: 40px;
}

.k-level-3 {
  padding-left: 60px;
}

.k-level-4 {
  padding-left: 80px;
}

.k-level-5 {
  padding-left: 100px;
}

.router-content {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}
