<itag-berufsbildung-header-component (toggle)="toggleDrawer(drawer)" [appName]="appName"></itag-berufsbildung-header-component>
<kendo-drawer-container>
  <kendo-drawer
    #drawer
    [items]="items"
    [mode]="mode"
    [mini]="mini"
    [miniWidth]="80"
    [width]="175"
    [(expanded)]="drawerExpanded"
    [autoCollapse]="autoCollapse"
    [animation]="true"
    (select)="onSelect($event)"
  >
    <ng-template kendoDrawerItemTemplate let-item>
      <div class="k-level-{{ item.level }}">
        <kendo-icon [name]="item.icon"></kendo-icon>
        <span *ngIf="drawerExpanded" >{{ item.text }}</span>
      </div>
      <span *ngIf="item.expanded && item['children']" class="k-icon k-i-arrow-chevron-down" style="margin-left: auto;"></span>
      <span
        *ngIf="!item.expanded && item['children']"
        class="k-icon k-i-arrow-chevron-right arrow-left"
        style="margin-left: auto"
      ></span>
    </ng-template>
  </kendo-drawer>
  <kendo-drawer-content>
    <div *ngIf="!this.userDto" class="router-content">
      <kendo-card class="center">
        <kendo-card-header>
          <h2>Bitte anmelden</h2>
        </kendo-card-header>
        <kendo-card-body style="text-align: center">
          <button
            kendoButton
            themeColor="base"
            fillMode="solid"
            size="large"
          >
            <itag-berufsbildung-login-button></itag-berufsbildung-login-button>
          </button>
        </kendo-card-body>
      </kendo-card>
    </div>
    <div class="router-content" *ngIf="this.userDto">
      <router-outlet></router-outlet>
    </div>
  </kendo-drawer-content>
</kendo-drawer-container>
