<div class="flex-row flex-100">
  <div class="flex-container-column flex-45">{{questionDescription}}</div>
  <div class="flex-container-column flex-12" style="padding-left: 15px">{{mark}}</div>
  <div class="flex-container-column flex-43">{{explanation}}</div>
</div>
