<div class="container flex-container-column flex-100">

  <form class="flex-container-column flex-100">
    <div class="flex-row flex-100">
      <input kendoRadioButton type="radio" name="tpe" value="endText" #end [(ngModel)]="chosenOption" (change)="openWindow()">
      <kendo-label class="k-radio-label" [for]="end" [text]="endText"></kendo-label>
    </div>
    <div class="flex-row flex-100">
      <input kendoRadioButton type="radio" name="tpe" value="extensionText" #extension [(ngModel)]="chosenOption" (change)="openWindow()">
      <kendo-label class="k-radio-label" [for]="extension" [text]="extensionText"></kendo-label>
    </div>
    <div class="flex-row flex-100">
      <input kendoRadioButton [disabled]="readonly" type="radio" name="tpe" value="dissolveText" #dissolve [(ngModel)]="chosenOption">
      <kendo-label class="k-radio-label" [for]="dissolve" [text]="dissolveText"></kendo-label>
    </div>
  </form>

  <div class="flex-row spaceTop">
    <button kendoButton themeColor="secondary" *ngIf="navigationActive && !isFirstStep" (click)="onBack()">Zurück</button>
    <button kendoButton themeColor="primary" *ngIf="navigationActive" (click)="onSaveAnswerAndNext()" [style.margin-left]="'10px'" [disabled]="!isFormValid()">{{!isLastStep ? 'Nächste Frage' : !isDiscussion ? 'Abschliessen' : 'Speichern'}}</button>
    <button kendoButton themeColor="primary" *ngIf="showAnswerToOtherRoleActive" (click)="onShowAnswerToOtherRole()" [style.margin-left]="'10px'">Antwort anzeigen</button>
  </div>

  <kendo-window
    title="Details zum Abschluss"
    *ngIf="isWindowOpen"
    (close)="closeWindow()"
    [top]="100"
    [left]="170"
    [minWidth]="250"
    [width]="450"
  >
    <div>
      <label class="k-form-field">
        <span>Datum</span>
        <kendo-datepicker [format]="dateFormat" [(value)]="date"></kendo-datepicker>
      </label>
    </div>
    <div *ngIf="chosenOption === 'extensionText'">
      <label class="k-form-field">
        <span>Grund</span>
        <input kendoTextBox [(ngModel)]="reason" placeholder="Grund" />
      </label>
    </div>
    <div class="k-actions k-actions-end">
      <button
        kendoButton
        themeColor="primary"
        type="button"
        (click)="setDateAndReason()"
      >Ok</button>
      <button kendoButton type="button" (click)="closeWindow()">Abbrechen</button>
    </div>
  </kendo-window>
</div>
