<div class="header header-bg">
  <div class="nav-container">
    <div class="menu-button">
      <span class="k-icon hamburger-icon" (click)="onButtonClick()"></span>
    </div>

    <div class="title">
      <h1
        *ngIf="appName || title"
        [ngClass]="{ 'title-dev': title.toLowerCase().trim() === 'dev', 'title-int': title.toLowerCase().trim() === 'int' }"
      >{{ title }}{{ appName?.toUpperCase() }}</h1>

      <span class="vl"></span>

      <kendo-breadcrumb
        collapseMode="none"
        [items]="items"
        (itemClick)="onItemClick($event)"
      >
        <ng-template kendoBreadCrumbItemTemplate let-item >
          <button
            kendoButton
            fillMode="clear"
            size="small"
            themeColor="secondary"
          >{{ item.text }}</button>
        </ng-template>
      </kendo-breadcrumb>

<!--      <h2 *ngIf="selectedModule"> {{ selectedModule.toLowerCase() }} </h2>-->
<!--      <span *ngIf="selectedPage" class="vl"></span>-->
<!--      <h3 *ngIf="selectedPage"> {{ selectedPage.toLowerCase() }} </h3>-->
    </div>

    <div>
      <itag-berufsbildung-notification-button></itag-berufsbildung-notification-button>
    </div>

    <div *ngIf="(userService.userDto$ | async) === undefined" kendoTooltip>
      <itag-berufsbildung-login-button></itag-berufsbildung-login-button>
    </div>
    <div *ngIf="(userService.userDto$ | async) !== undefined" kendoTooltip>
      <itag-berufsbildung-profile-button></itag-berufsbildung-profile-button>
    </div>

  </div>
</div>
