<kendo-tilelayout [columns]="showAbList ? 4 : 5"
                  [resizable]="false"
                  [reorderable]="false"
                  [rowHeight]="'100%'"
                  [style]="'height: ' + (height - 85) + 'px;'">
  <kendo-tilelayout-item *ngIf="showAbList" [col]="1" [colSpan]="1">
    <kendo-tilelayout-item-header>
      <kendo-icon name="user"></kendo-icon>
      Auszubildende
    </kendo-tilelayout-item-header>
    <kendo-tilelayout-item-body>
      <itag-berufsbildung-report-ab-list></itag-berufsbildung-report-ab-list>
    </kendo-tilelayout-item-body>
  </kendo-tilelayout-item>
  <kendo-tilelayout-item [col]="2" [colSpan]="3">
    <kendo-tilelayout-item-header>
      <kendo-icon name="file-word"></kendo-icon>
      {{getTitle()}}
      <button kendoButton
              class="spacer"
              *ngIf="isBb && apprentice"
              [themeColor]="'secondary'"
              (click)="onCreateReportsForApprenticeship()"
      >Alle Berichte erstellen</button>
    </kendo-tilelayout-item-header>
    <kendo-tilelayout-item-body>
      <itag-berufsbildung-reports-list></itag-berufsbildung-reports-list>
    </kendo-tilelayout-item-body>
  </kendo-tilelayout-item>
</kendo-tilelayout>
