<kendo-card style="width: 100%">
  <kendo-card-header>Users</kendo-card-header>
  <kendo-card-body>
    <itag-berufsbildung-users-grid></itag-berufsbildung-users-grid>
  </kendo-card-body>
</kendo-card>
