<kendo-card style="width: 100%">
  <kendo-card-header>{{getEntryTitle()}}
    <div *ngIf="entry && entry.state !== 'saved' && entry.state !== 'reopened'" style="float: right" [ngClass]="entry.publishedOnTime ? 'background-on-time' : 'background-not-on-time'">
      <div class="time-evaluation" *ngIf="entry?.publishedOnTime">Pünktlich abgegeben</div>
      <div class="time-evaluation" *ngIf="!entry?.publishedOnTime">Zu spät abgegeben</div>
    </div>
  </kendo-card-header>
  <kendo-card-body>
    <button
      *ngIf="hasHistory()"
      class="input-property"
      kendoButton
      kendoPopoverAnchor
      [popover]="entryHistoryPopover"
      [themeColor]="'primary'">
      Verlauf
    </button>
<!--for the entryHistory-->
    <kendo-window
      [minWidth]="1000"
      [minHeight]="800"
      title="Eintrag"
      *ngIf="windowOpened"
      (close)="closeWindow()">
      <itag-berufsbildung-entry-base-form [entry]="oldEntry" [isHistory]="true"></itag-berufsbildung-entry-base-form>
    </kendo-window>

    <itag-berufsbildung-entry-base-form [entry]="entry" [role]="role"></itag-berufsbildung-entry-base-form>

<!--    <div class="input-property" *ngIf="(userDto?.hasRight(moduleName, uiRights.ab) || userDto?.hasRight(moduleName, uiRights.bb)) && entry?.feedback">-->
<!--      <div [ngClass]="entry?.state === 'accepted' ? 'feedback-background-accepted' : 'feedback-background-rejected'">-->
<!--        <b>Feedback von {{ entry?.feedbackFromEmail}}</b>-->
<!--        <br>-->
<!--        {{entry?.feedback}}-->
<!--      </div>-->
<!--    </div>-->
<!--    <form [formGroup]="form" class="k-form">-->
<!--      <kendo-formfield class="input-property">-->
<!--        <kendo-label [for]="title" text="Titel"></kendo-label>-->
<!--        <kendo-textbox #title formControlName="title" [readonly]="isFieldReadOnly('filling')"></kendo-textbox>-->

<!--      </kendo-formfield>-->

<!--      <kendo-formfield class="input-property">-->
<!--        <kendo-label [for]="content" text="Inhalt"></kendo-label>-->
<!--        &lt;!&ndash;    hint: since we don't need all toolbar stuff we decide what we want&ndash;&gt;-->
<!--        <kendo-editor-->
<!--          #content-->
<!--          formControlName="content"-->
<!--          style="height: 340px"-->
<!--          [readonly]="isFieldReadOnly('filling')"-->
<!--        >-->
<!--          &lt;!&ndash;        hint: else it does display everything&ndash;&gt;-->
<!--          <kendo-toolbar *ngIf="getUserIfCantEdit()" style="height: 0px"></kendo-toolbar>-->
<!--          <kendo-toolbar *ngIf="!getUserIfCantEdit()">-->
<!--            <kendo-toolbar-buttongroup>-->
<!--              <kendo-toolbar-button kendoEditorBoldButton></kendo-toolbar-button>-->
<!--              <kendo-toolbar-button kendoEditorItalicButton></kendo-toolbar-button>-->
<!--              <kendo-toolbar-button kendoEditorUnderlineButton></kendo-toolbar-button>-->
<!--              <kendo-toolbar-button kendoEditorStrikethroughButton></kendo-toolbar-button>-->
<!--            </kendo-toolbar-buttongroup>-->
<!--            <kendo-toolbar-buttongroup>-->
<!--              <kendo-toolbar-button kendoEditorAlignLeftButton></kendo-toolbar-button>-->
<!--              <kendo-toolbar-button kendoEditorAlignCenterButton></kendo-toolbar-button>-->
<!--              <kendo-toolbar-button kendoEditorAlignRightButton></kendo-toolbar-button>-->
<!--              <kendo-toolbar-button kendoEditorAlignJustifyButton></kendo-toolbar-button>-->
<!--            </kendo-toolbar-buttongroup>-->
<!--            <kendo-toolbar-dropdownlist kendoEditorFontSize></kendo-toolbar-dropdownlist>-->
<!--            <kendo-toolbar-dropdownlist kendoEditorFontFamily></kendo-toolbar-dropdownlist>-->
<!--            <kendo-toolbar-colorpicker kendoEditorForeColor></kendo-toolbar-colorpicker>-->
<!--            <kendo-toolbar-colorpicker kendoEditorBackColor view="gradient"></kendo-toolbar-colorpicker>-->
<!--            <kendo-toolbar-buttongroup>-->
<!--              <kendo-toolbar-button kendoEditorInsertUnorderedListButton></kendo-toolbar-button>-->
<!--              <kendo-toolbar-button kendoEditorInsertOrderedListButton></kendo-toolbar-button>-->
<!--              <kendo-toolbar-button kendoEditorIndentButton></kendo-toolbar-button>-->
<!--              <kendo-toolbar-button kendoEditorOutdentButton></kendo-toolbar-button>-->
<!--            </kendo-toolbar-buttongroup>-->
<!--            <kendo-toolbar-buttongroup>-->
<!--              <kendo-toolbar-button kendoEditorCreateLinkButton></kendo-toolbar-button>-->
<!--              <kendo-toolbar-button kendoEditorUnlinkButton></kendo-toolbar-button>-->
<!--            </kendo-toolbar-buttongroup>-->
<!--            <kendo-editor-insert-table-button></kendo-editor-insert-table-button>-->
<!--            <kendo-toolbar-buttongroup>-->
<!--              <kendo-toolbar-button kendoEditorAddColumnBeforeButton></kendo-toolbar-button>-->
<!--              <kendo-toolbar-button kendoEditorAddColumnAfterButton></kendo-toolbar-button>-->
<!--              <kendo-toolbar-button kendoEditorAddRowBeforeButton></kendo-toolbar-button>-->
<!--              <kendo-toolbar-button kendoEditorAddRowAfterButton></kendo-toolbar-button>-->
<!--            </kendo-toolbar-buttongroup>-->
<!--            <kendo-toolbar-buttongroup>-->
<!--              <kendo-toolbar-button kendoEditorDeleteColumnButton></kendo-toolbar-button>-->
<!--              <kendo-toolbar-button kendoEditorDeleteRowButton></kendo-toolbar-button>-->
<!--              <kendo-toolbar-button kendoEditorDeleteTableButton></kendo-toolbar-button>-->
<!--            </kendo-toolbar-buttongroup>-->
<!--            <kendo-toolbar-buttongroup>-->
<!--              <kendo-toolbar-button kendoEditorMergeCellsButton></kendo-toolbar-button>-->
<!--              <kendo-toolbar-button kendoEditorSplitCellButton></kendo-toolbar-button>-->
<!--            </kendo-toolbar-buttongroup>-->
<!--          </kendo-toolbar>-->
<!--        </kendo-editor>-->
<!--      </kendo-formfield>-->

<!--      <div class="input-property">-->
<!--        Tags-->
<!--        <br>-->
<!--        <kendo-chip-->
<!--          *ngFor="let tag of tags"-->
<!--          style="margin-right: 5px"-->
<!--          [removable]="!isFieldReadOnly('filling')"-->
<!--          (remove)="onRemove($event)"-->
<!--          [label]="tag"-->
<!--          [fillMode]="'solid'"-->
<!--          [themeColor]="'info'"-->
<!--        >{{tag}}</kendo-chip>-->
<!--        <kendo-textbox-->
<!--          style="margin-top:5px"-->
<!--          #tagInput placeholder="tags"-->
<!--          [fillMode]="'flat'"-->
<!--          (valueChange)="addTag($event)"-->
<!--          *ngIf="isAbView()"-->
<!--        ></kendo-textbox>-->
<!--        <kendo-formhint-->
<!--          *ngIf="isAbView()"-->
<!--        >Mit einem , wird ein Tag hinzugefügt.</kendo-formhint>-->
<!--      </div>-->

<!--      <kendo-formfield class="input-property" style="width: 150px" *ngIf="isAbView()">-->
<!--        <kendo-label [for]="targetDate" text="Datum"></kendo-label>-->
<!--        <kendo-datepicker #targetDate formControlName="targetDate" calendarType="classic"></kendo-datepicker>-->
<!--      </kendo-formfield>-->

<!--      <kendo-formfield class="input-property" *ngIf="isPbView()">-->
<!--        <kendo-label [for]="feedbackInput" text="Feedback"></kendo-label>-->
<!--        <kendo-textarea-->
<!--          #feedbackInput-->
<!--          [placeholder]="'Feedback'"-->
<!--          [resizable]="'none'"-->
<!--          [rows]="5"-->
<!--          [readonly]="isFieldReadOnly('feedback')"-->
<!--          formControlName="feedback">-->
<!--        </kendo-textarea>-->
<!--        <kendo-formerror>Das Feedback muss mindestens 10 Zeichen lang sein!</kendo-formerror>-->
<!--      </kendo-formfield>-->

<!--    </form>-->

  </kendo-card-body>
</kendo-card>

<kendo-popover #entryHistoryPopover [width]="200">
  <ng-template kendoPopoverTitleTemplate>Vorherige Einträge</ng-template>
  <ng-template kendoPopoverBodyTemplate>
    <div *ngFor="let entryHistory of entry?.entryHistory">
      <button
        kendoButton
        [themeColor]="'primary'"
        (click)="openWindow(entryHistory)"
      >
        Eintrag vom {{getDate(entryHistory.targetDate)}}
        <kendo-badge
          *ngIf="entryHistory.state === 'rejected'"
          rounded="full"
          [themeColor]="'warning'"
        >
          <kendo-icon name="minus"></kendo-icon>
        </kendo-badge>
        <kendo-badge
          *ngIf="entryHistory.state === 'accepted'"
          rounded="full"
          [themeColor]="'success'"
        >
          <kendo-icon name="check"></kendo-icon>
        </kendo-badge>
      </button>
    </div>
  </ng-template>
</kendo-popover>



