<div class="flex-container-column flex-100">
    <itag-berufsbildung-filter
      [showOwnerFilterMultiple]="true"
      [showEventCategoryFilter]="true"
      [numberOfColumns]="2"
    ></itag-berufsbildung-filter>
  <div class="flex-row flex-100">
    <div *ngIf="canUserSeeModuleProjectList()" class="flex-container-column flex-20">
      <itag-berufsbildung-project-task-list
        [isForAnnualPlanning]="true"
        [showFilter]="false"
      ></itag-berufsbildung-project-task-list>
    </div>
    <div class="flex-container-column" [ngClass]="canUserSeeModuleProjectList() ? 'flex-80' : 'flex-100'">
      <!--Bei [kendoSchedulerBinding] braucht es die toAny Pipe, die alle Events vom Datentyp
      AnnualPlanningEventDto zu einem any konvertiert und als any[] Array zurückgeben. Grund ist, dass
      der Scheduler nur ein any[] Array annimmt-->
      <kendo-scheduler
        #scheduler
        [kendoSchedulerBinding]="annualPlanningSchedulerEditService.events | async | toAny"
        [modelFields]="annualPlanningSchedulerEditService.fields"
        [loading]="annualPlanningSchedulerEditService.loading"
        [editable]="true"
        [selectedViewIndex]="0"
        [selectedDate]="selectedDate"
        [weekStart]="1"
        [style]="'height: ' + (height - 255) + 'px;'"
        (slotDblClick)="slotDblClickHandler($event)"
        (eventDblClick)="eventDblClickHandler($event)"
        (cancel)="cancelHandler($event)"
        (save)="saveHandler($event)"
        (remove)="removeHandler($event)"
        (dragover)="onDragOver($event)"
        (drop)="onDrop($event)"
      >
        <ng-template kendoSchedulerMonthDaySlotTemplate let-date="date">
          <strong [class]="isSelectedDateEqualToSlotDate(date) ? 'highlightToday' : ''">{{ getDayFromDate(date) }}</strong>
        </ng-template>
        <ng-template
          kendoSchedulerEventTemplate
          let-event="event"
        >
          <div [style.background]="event.dataItem.eventCategory.backgroundColor" style="height: 100%; width: 100%;">
            {{event.title}} ({{getOwnerName(event.dataItem) | titlecase}})
          </div>
        </ng-template>
        <ng-template
          kendoSchedulerAllDayEventTemplate
          let-event="event"
        >
          <div [style.background]="event.dataItem.eventCategory.backgroundColor" style="height: 100%; width: 100%;">
            {{event.title}} ({{getOwnerName(event.dataItem) | titlecase}})
          </div>
        </ng-template>
        <ng-template
          kendoSchedulerEditDialogTemplate
          autoFocusedElement=".title-input"
          let-formGroup="formGroup"
          let-isNew="isNew"
          let-editMode="editMode"
        >
          <div class="k-form-inline">
            <div class="k-form-field">
              <span>Titel</span>
              <input
                kendoTextBox
                id="title-input"
                class="k-rounded-md"
                placeholder="Title"
                [formControl]="formGroup.get('title')"
              />
            </div>
            <div class="k-form-field">
              <span>Beschreibung</span>
              <input
                kendoTextBox
                id="description-input"
                class="k-rounded-md"
                placeholder="Beschreibung"
                [formControl]="formGroup.get('description')"
              />
            </div>
            <div class="k-form-field k-datetime-picker-wrapper">
              <span>Start</span>
              <kendo-datepicker
                class="custom-picker"
                [formControl]="formGroup.get('start')"
              >
              </kendo-datepicker>
              <kendo-timepicker
                class="custom-picker"
                [formControl]="formGroup.get('start')"
                *ngIf="!formGroup.controls.isAllDay.value"
              >
              </kendo-timepicker>
            </div>
            <div class="k-form-field k-datetime-picker-wrapper">
              <span>Ende</span>
              <kendo-datepicker
                class="custom-picker"
                [formControl]="formGroup.get('end')"
              >
              </kendo-datepicker>
              <kendo-timepicker
                class="custom-picker"
                [formControl]="formGroup.get('end')"
                *ngIf="!formGroup.controls.isAllDay.value"
              >
              </kendo-timepicker>
            </div>
            <div *ngIf="canUserCreateEventsForOthers() && isNew" class="k-form-field">
              <span>Besitzer</span>
              <kendo-multiselect
                [data]="ownerCategoryFilter.owners$ | async | toAny"
                [valuePrimitive]="true"
                [formControl]="formGroup.get('owners')"
                textField="eMail"
                valueField="eMail"
              ></kendo-multiselect>
            </div>
            <div class="k-form-field">
              <span>Kategorie</span>
              <kendo-dropdownlist
                [data]="categories$ | async"
                [formControl]="formGroup.get('eventCategory')"
                [valuePrimitive]="false"
                textField="name"
                valueField="uuid"
              > </kendo-dropdownlist>
            </div>
            <div class="k-form-field" *ngIf="isEditingSeries(editMode)">
              <kendo-recurrence-editor
                [formControl]="formGroup.get('recurrenceRule')"
              >
              </kendo-recurrence-editor>
            </div>
          </div>
        </ng-template>

        <kendo-scheduler-month-view></kendo-scheduler-month-view>
        <kendo-scheduler-week-view startTime="08:00" endTime="08:30"></kendo-scheduler-week-view>
        <kendo-scheduler-day-view startTime="08:00" endTime="08:30"></kendo-scheduler-day-view>


      </kendo-scheduler>
  </div>
</div>
</div>
