<itag-berufsbildung-filter
  *ngIf="showFilter && user.hasRight(moduleConstants.moduleName, moduleConstants.availableRights.ui.projectTask.canCreateForOthers)"
  [showOwnerFilterSingle]="true"
  [showProjectStateFilter]="true"
  [showProjectFilter]="true"
  [numberOfColumns]="3"
></itag-berufsbildung-filter>
<itag-berufsbildung-filter
  *ngIf="showFilter && !user.hasRight(moduleConstants.moduleName, moduleConstants.availableRights.ui.projectTask.canCreateForOthers)"
  [showProjectStateFilter]="true"
  [showProjectFilter]="true"
  [numberOfColumns]="2"
></itag-berufsbildung-filter>

<div *ngIf="isForAnnualPlanning" class="project-list-view">
  <kendo-listview
    [data]="projectsForAnnualPlanning$ | async | toAny"
  >
    <ng-template kendoListViewItemTemplate let-dataItem="dataItem">
      <div class="listview-item-border" [draggable]="true" (dragstart)="dragStart($event, dataItem)">
        {{ dataItem.name }}
      </div>
    </ng-template>
  </kendo-listview>
  <div>
    <button kendoButton *ngIf="user.hasRight( moduleConstants.moduleName, moduleConstants.availableRights.ui.projectTask.canCreate)" icon="plus" (click)="openCreateDialog()">Projekt</button>
    <button kendoButton *ngIf="user.hasRight( moduleConstants.moduleName, moduleConstants.availableRights.ui.projectTask.canCreate)" icon="plus" (click)="openCreateDialog(undefined, true)" style="margin-left: 5px">Allgemein Task</button>
  </div>
</div>

<ng-container *ngIf="isForDailyPlanning">
  <kendo-treeview
    [nodes]="projectsAndTasks$ | async | toAny"
    textField="desc"
    kendoTreeViewExpandable
    kendoTreeViewFlatDataBinding
    idField="uuid"
    parentIdField="parentProjectUuid"
    expandBy="uuid"
    [(expandedKeys)]="expandedNodes"
  >
    <ng-template kendoTreeViewNodeTemplate let-dataItem>
      <div [draggable]="dataItem.parentProjectUuid" (dragstart)="dragStart($event, dataItem)">
        {{ dataItem.name }} {{dataItem.timeBudgetHours > -1 ? '(' + dataItem.timeBudgetHours + 'h)' : ''}}
        <button kendoButton *ngIf="!dataItem.isTask && user.hasRight( moduleConstants.moduleName, moduleConstants.availableRights.ui.projectTask.canCreate)" icon="plus" (click)="openCreateDialog(dataItem)"></button>
      </div>
    </ng-template>
  </kendo-treeview>
</ng-container>

<kendo-dialog
  title="{{parentProjectName.length > 0 ? 'Task für ' + parentProjectName + ' erstellen' : 'Projekt erstellen'}}"
  *ngIf="isCreateProjectTaskDialogOpen"
  (close)="closeCreateDialog()"
  [minWidth]="250"
  [width]="450"
>
  <form [formGroup]="formGroup" class="k-form">
    <kendo-formfield>
      <kendo-label [for]="name" text="Name"></kendo-label>
      <kendo-textbox #name formControlName="name"></kendo-textbox>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-label [for]="timeBudgetHours" text="Zeitbudget in Stunden"></kendo-label>
      <kendo-numerictextbox #timeBudgetHours formControlName="timeBudgetHours"></kendo-numerictextbox>
    </kendo-formfield>
    <kendo-formfield *ngIf="user.hasRight(moduleConstants.moduleName, moduleConstants.availableRights.ui.projectTask.canCreateForOthers)">
      <kendo-label [for]="ownerSelection" text="Besitzer"></kendo-label>
      <kendo-multiselect
        #ownerSelection
        formControlName="ownerEmail"
        [data]="owners$ | async | toAny"
        [valuePrimitive]="true"
      ></kendo-multiselect>
    </kendo-formfield>
  </form>


  <kendo-dialog-actions>
    <button kendoButton (click)="closeCreateDialog()" icon="cancel"></button>
    <button kendoButton (click)="closeCreateDialog(true)" [disabled]="!formGroup.valid" themeColor="primary" icon="save"></button>
  </kendo-dialog-actions>
</kendo-dialog>
