<div class="container flex-container-column flex-100">
  <kendo-expansionpanel
    *ngFor="let formGroup of formGroups; index as i"
    [expanded]="i === formGroups.length - 1"
    (action)="onExpansionPanelAction($event, i)"
  >
    <ng-template kendoExpansionPanelTitleDirective>
      <div class="headerContent">
        <b>Ziel {{i+1}}</b>
      </div>
    </ng-template>
    <div class="flex-row">
      <form [formGroup]="formGroup" class="flex-100">
        <label for="competence">Kompetenz</label>
        <kendo-dropdownlist id="competence" formControlName="competence" [data]="competences" [readonly]="readonly"></kendo-dropdownlist >
        <label for="goal">Ziel</label>
        <kendo-textarea id="goal" formControlName="goal" [readonly]="readonly"></kendo-textarea>
        <label for="until" class="spaceTop">Bis</label>
        <kendo-textarea id="until" formControlName="until" [readonly]="readonly"></kendo-textarea>
        <label for="measure" class="spaceTop">Massnahme</label>
        <kendo-textarea id="measure" formControlName="measure" [readonly]="readonly" (focusout)="onSaveGoal(i)"></kendo-textarea>
      </form>
    </div>
  </kendo-expansionpanel>

  <div class="flex-row spaceTop">
    <button kendoButton themeColor="secondary" (click)="onBack()" *ngIf="navigationActive && !isFirstStep">Zurück</button>
    <button kendoButton themeColor="primary" (click)="onNext()" *ngIf="navigationActive" [style.margin-left]="'10px'" [disabled]="areFormsInvalid()">{{!isLastStep ? 'Nächste Frage' : !isDiscussion ? 'Abschliessen' : 'Speichern'}}</button>
    <button kendoButton class="spaceLeft" *ngIf="!readonly" themeColor="secondary" [disabled]="areFormsInvalid()" (click)="onAddGoal()">+</button>
    <button kendoButton themeColor="primary" *ngIf="canCreateNotes" (click)="onWriteNote()" [style.margin-left]="'10px'">Notiz schreiben</button>
    <button kendoButton themeColor="primary" *ngIf="showAnswerToOtherRoleActive" (click)="onShowAnswerToOtherRole()" [style.margin-left]="'10px'">Antwort anzeigen</button>
  </div>
</div>


