<div class="flex-container-column flex-100">
  <div class="flex-row flex-100px divider-line">
    <div class="flex-container-column flex-50">
      <img src="../../../assets/images/logoDark.png" alt="Logo" id="pdf-logo"/>
    </div>
    <div class="flex-container-column flex-50">
      <h2 class="h2-pdf-header">Departement</h2>
      <h2 class="h2-pdf-header">Finanzen und Ressourcen</h2>
      <p>Informatik Aargau</p>
    </div>
  </div>
  <div class="flex-row flex-100">
    <h1>{{reportTypeName}}</h1>
  </div>
</div>
