<div class="flex-row" *ngIf="roleName && roleInfo">
  <div class="flex-100">{{ roleName }}</div>
  <div class="flex-200">{{ from }}</div>
  <div class="flex-auto">{{ until }}</div>
</div>

<div class="flex-row" *ngIf="!roleName && !roleInfo">
  <div class="flex-100"><b>name</b></div>
  <div class="flex-200"><b>von</b></div>
  <div class="flex-auto"><b>bis</b></div>
</div>
