<kendo-window
  title="Notiz / Feedback schreiben"
  *ngIf="isWindowOpen"
  (close)="close()"
  [minWidth]="250"
  [width]="450"
>
  <form class="k-form">
      <kendo-label [for]="ratingDd" text="Einschätzung"></kendo-label>
      <kendo-dropdownlist #ratingDd [data]="ratings" (valueChange)="rating = $event"></kendo-dropdownlist>
      <kendo-label [for]="noteTa" text="text"></kendo-label>
      <kendo-textarea #noteTa (valueChange)="note = $event"></kendo-textarea>

    <div class="k-actions k-actions-end">
      <button kendoButton type="button" (click)="close()">abbrechen</button>
      <button
        kendoButton
        themeColor="primary"
        type="button"
        (click)="close(true)"
      >
        speichern
      </button>
    </div>
  </form>
</kendo-window>
