<div *ngFor="let goal of goals; index as goalNumber">
  <div class="flex-row flex-100px spaceTop">
    <div class="flex-container-column flex-4">{{goalNumber + 1}}:</div>
    <div class="flex-container-column flex-20">{{getGoalPart(goal, 0)}}</div>
    <div class="flex-container-column flex-21">{{getGoalPart(goal, 1)}}</div>
    <div class="flex-container-column flex-21">{{getGoalPart(goal, 2)}}</div>
    <div class="flex-container-column flex-34">{{getGoalPart(goal, 3)}}</div>
  </div>
</div>
