<div class="center">
  <kendo-card width="100%">
    <kendo-card-header>
      <kendo-icon name="lock"></kendo-icon>
      &nbsp;
      User Management
    </kendo-card-header>
    <kendo-card-body>
      <kendo-tabstrip *ngIf="userService.userDto$ | async">
        <kendo-tabstrip-tab [selected]="first" *ngFor="let moduleInfo of modules; let first=first">
          <ng-template kendoTabTitle>
            {{ moduleInfo.moduleName }}
            &nbsp;
          </ng-template>
          <ng-template kendoTabContent>
            <itag-berufsbildung-user-management-modul
              [modulInfo]="moduleInfo"
              [selectedEMail]="eMail"
              (eMailSelected)="onEMailSelected($event)"
              (createUserRolesForAllModules)="onCreateUserRolesForAllModules($event)"
              (deleteUserRolesForAllModules)="onDeleteUserForAllModules($event)"
            ></itag-berufsbildung-user-management-modul>
          </ng-template>
        </kendo-tabstrip-tab>
      </kendo-tabstrip>
    </kendo-card-body>
  </kendo-card>
</div>

