<button kendoButton
        #anchor
        [togglable]="true"
        [class]="isFilterApplied() ? 'filter-applied' : ''"
        (click)="showFilter = !showFilter"
>
  <kendo-icon *ngIf="isFilterApplied()" name="filter" themeColor="light"></kendo-icon>
  <kendo-icon *ngIf="!isFilterApplied()" name="filter-clear"></kendo-icon>
</button>

<kendo-popup [anchor]="anchor" *ngIf="showFilter">
  <div class="content flex-row flex-100">
    <div *ngIf="showOwnerFilterMultiple" class="flex-container-column" [ngStyle]="{'flex': 100/numberOfColumns}">
      Besitzer:
      <kendo-multiselect
        [data]="owners$ | async | toAny"
        [valuePrimitive]="true"
        [value]="selectedOwners"
        (valueChange)="saveSelectedOwners($event)"
      ></kendo-multiselect>
    </div>
    <div *ngIf="showOwnerFilterSingle" class="flex-container-column" [ngStyle]="{'flex': 100/numberOfColumns}">
      Besitzer:
      <kendo-combobox
        [data]="owners$ | async | toAny"
        [value]="getSelectedSingleOwner()"
        [suggest]="true"
        (valueChange)="saveSelectedOwners([$event], true)"
      ></kendo-combobox>
    </div>
    <div *ngIf="showEventCategoryFilter" class="flex-container-column" [ngStyle]="{'flex': 100/numberOfColumns}">
      Kategorien:
      <kendo-multiselect
        [data]="categories$ | async | toAny"
        [valuePrimitive]="false"
        [value]="selectedCategories"
        (valueChange)="saveSelectedCategories($event)"
        textField="name"
        valueField="name"
      ></kendo-multiselect>
    </div>
    <div *ngIf="showProjectStateFilter" class="flex-container-column" [ngStyle]="{'flex': 100/numberOfColumns}">
      Projektstatus:
      <kendo-multiselect
        [data]="projectStates$ | async | toAny"
        [valuePrimitive]="true"
        [value]="selectedProjectStates"
        (valueChange)="saveSelectedProjectStates($event)"
      ></kendo-multiselect>
    </div>
    <div *ngIf="showProjectFilter" class="flex-container-column" [ngStyle]="{'flex': 100/numberOfColumns}">
      Projekte:
      <kendo-multiselect
        [data]="filteredProjects$ | async | toAny"
        [valuePrimitive]="false"
        [value]="selectedProjects"
        (valueChange)="saveSelectedProjects($event)"
        textField="name"
        valueField="name"
      ></kendo-multiselect>
    </div>
  </div>
</kendo-popup>
