@import 'styles/index';
@import '@progress/kendo-theme-default/dist/all.css';

.center {
  margin: auto;
  width: 100%;
}


.k-card-header {
  //background-image: url('/assets/header-bg.png');
  background-image: url('/assets/info-waves.svg');
  color: $white;
  background-color: $primary;
}

// Header
.header-bg {
  //background-image: url('/assets/header-bg.png');
  background-image: url('/assets/info-waves.svg');
  color: $white;
  background-color: $primary;
}

.header {
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 3;

  .nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    color: $white;
  }

  .menu-button {
    flex: 0 0 50px;
    text-align: center;
  }

  .hamburger-icon {
    background-image: url('/assets/hamburger-icon.svg');
    background-repeat: no-repeat;
    width: 20px;
    cursor: pointer;
  }

  .title {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 25px;
  }

  .k-avatar {
    display: block;
    width: 40px;
    height: 40px;
    flex-basis: 40px;
    margin: 0 25px;
    box-shadow: 0 0 0 1px $white;
  }

  .settings {
    display: none;
  }
}

@media (min-width: 480px) {
  .header {
    .title {
      flex-direction: row;
      align-items: center;
    }
    .vl {
      border-left: 1px solid $white;
      height: 25px;
      margin: 6px 15px;
    }
  }
}

@media (min-width: 768px) {
  .header {
    .settings {
      display: flex;
      flex: 0 0 auto;
      align-items: center;
    }

    .k-dropdown {
      max-width: 90px;
      margin-left: 15px;
    }
  }
}


// IE11 Adjustments
@media all and (-ms-high-contrast: none) {
  .k-drawer-container {
    &.k-drawer-push .k-drawer {
      position: static;
      height: auto;
    }
  }

  .planning-page {
    .card-title {
      margin-bottom: 1rem;
      text-align: left;
    }

    .personal-card {
      display: block;
      margin-bottom: 1rem;
    }
  }
}

