<h4>{{title}}</h4>
<kendo-formfield>
  <kendo-label [for]="specificCompetence" text="Bereich"></kendo-label>
  <kendo-dropdownlist #specificCompetence [data]="competences" [formControl]="_competence" [value]="_competence.value" [readonly]="isReadonly"></kendo-dropdownlist>
</kendo-formfield>
<kendo-formfield>
  <kendo-label [for]="competence" text="Begründung"></kendo-label>
  <kendo-textarea #competence [formControl]="_reason" [value]="_reason.value" [readonly]="isReadonly"></kendo-textarea>
</kendo-formfield>
