<div class="center">
  <kendo-card>
    <kendo-card-header>
      <kendo-icon name="information" size="medium"></kendo-icon>
      Error
    </kendo-card-header>
    <kendo-card-body>
      <p>Es ist ein Fehler aufgetreten.</p>
      <p>Bitte nimm Kontakt mit dem Betreiber der Webseite {{ contactInfo.name }} auf.</p>
    </kendo-card-body>
  </kendo-card>
</div>
