<div class="container flex-container-column flex-100">
    <form [formGroup]="formGroup" class="flex-row">
      <div class="flex-container-column" style="width: 40px">
        <div>
          <div kendoTooltip position="right">
            <kendo-label class="k-radio-label marginRight" [for]="a" text="A" [ngClass]="{'red': isRadioButtonInvalid()}"></kendo-label>
            <input kendoRadioButton type="radio" title="übertroffen" name="mark" value="A" formControlName="mark" #a [ngClass]="{'k-invalid': isRadioButtonInvalid()}">
          </div>
          <div kendoTooltip position="right">
            <kendo-label class="k-radio-label marginRight" [for]="b" text="B" [ngClass]="{'red': isRadioButtonInvalid()}"></kendo-label>
            <input kendoRadioButton type="radio" title="gut erreicht (Ziel)" name="mark" value="B" formControlName="mark" #b [ngClass]="{'k-invalid': isRadioButtonInvalid()}">
          </div>
          <div kendoTooltip position="right">
            <kendo-label class="k-radio-label marginRight" [for]="c" text="C" [ngClass]="{'red': isRadioButtonInvalid()}"></kendo-label>
            <input kendoRadioButton type="radio" title="knapp erreicht" name="mark" value="C" formControlName="mark" #c [ngClass]="{'k-invalid': isRadioButtonInvalid()}">
          </div>
          <div kendoTooltip position="right">
            <kendo-label class="k-radio-label marginRight" [for]="d" text="D" [ngClass]="{'red': isRadioButtonInvalid()}"></kendo-label>
            <input kendoRadioButton type="radio" title="nicht erreicht" name="mark" value="D" formControlName="mark" #d [ngClass]="{'k-invalid': isRadioButtonInvalid()}">
          </div>
        </div>
      </div>
      <div class="flex-container-column" style="margin-bottom: 10px; width: 100%">
          <kendo-textarea
            [readonly]="readonly"
            formControlName="explanation"
            [placeholder]="'Begründung eingeben'"
            [ngClass]="{'k-invalid': !formGroup.valid && !readonly}"
            resizable="vertical"
            [rows]="4">
          </kendo-textarea>
        </div>
    </form>
  <div class="flex-row" style="margin-bottom: 10px">
    <button kendoButton themeColor="secondary" (click)="onBack()" *ngIf="navigationActive && !isFirstStep">Zurück</button>
    <button kendoButton themeColor="primary" (click)="onSaveAnswerAndNext()" *ngIf="navigationActive" [style.margin-left]="'10px'" [disabled]="!formGroup.valid">{{!isLastStep ? 'Nächste Frage' : role === 'pb' ? 'Abschliessen' : 'Speichern'}}</button>
    <button kendoButton themeColor="primary" *ngIf="!navigationActive && !readonly" (click)="onSaveAnswerAndNext()">Speichern</button>
    <button kendoButton themeColor="primary" (click)="onWriteNote()" *ngIf="canCreateNotes && navigationActive" [style.margin-left]="'10px'">Notiz schreiben</button>
    <button kendoButton themeColor="primary" *ngIf="showAnswerToOtherRoleActive" (click)="onShowAnswerToOtherRole()" [style.margin-left]="'10px'">Antwort anzeigen</button>
  </div>
</div>

<!--Dialog für Freigabe der Antworten als AB-->
<kendo-dialog
  title="Antworten freigeben?"
  *ngIf="isPublishDialogOpen"
  (close)="isPublishDialogOpen = false"
>
  <p>Antworten gleich freigeben?</p>
  <kendo-dialog-actions>
    <button kendoButton (click)="onPublishAnswers()" themeColor="primary">Freigeben</button>
    <button kendoButton (click)="isPublishDialogOpen = false" themeColor="secondary">Abbrechen</button>
  </kendo-dialog-actions>
</kendo-dialog>
