<div class="container" *ngIf="isDataLoaded">
  <kendo-card width="'100%'" [style]="'height: ' + (height - 85) + 'px;'">
    <kendo-card-header>
      <div class="flex-row flex-100" style="height: 60px">
        <div class="flex-container-column flex-align-center">
          <button kendoButton (click)="onNavigateBack()" icon="arrow-left" themeColor="secondary" title="zurück"></button>
        </div>
        <div class="flex-container-column flex-align-center" style="margin-left: 8px">
          <h4>{{getTitle()}}{{apprentice$ | async | fullName}}</h4>
        </div>
      </div>
    </kendo-card-header>
    <kendo-card-body>
      <div>
        <kendo-stepper
          orientation="horizontal"
          [steps]="steps"
          [linear]="false"
          [currentStep]="currentStep"
          (currentStepChange)="onCurrentStepChange($event)"
          (activate)="onStepActivate($event)"
          stepType="indicator"
        ></kendo-stepper>
      </div>
      <div style="margin-top: 30px">
        <h4>{{getQuestionField(currentAnswer, 0)}}</h4>
        Beschreibung: {{getQuestionField(currentAnswer, 1)}}
        <button kendoButton
                rounded="full"
                icon="information"
                fillMode="clear"
                (click)="showInfo = !showInfo"
                ></button>
        <!--Helptext-->
        <div *ngIf="showInfo">
          <i>{{getQuestionField(currentAnswer, 2)}}</i>
        </div>

        <!--Ansicht Antworten-->
        <div *ngIf="role">
          <!-- Normale Frage (nq)-->
          <itag-berufsbildung-report-answer
            *ngIf="getQuestionField(currentAnswer, 3) === 'nq'"
            [reportUuid]="report.uuid"
            [answerUuid]="currentAnswer?.uuid"
            [readonly]="getReadonlyMode()"
            [role]="role"
            [navigationActive]="getNavigationActive()"
            [isFirstStep]="isFirstStep()"
            [isLastStep]="isLastStep()"
            [canCreateNotes]="isUserPb"
            (saveAnswerAndNext)="onSaveAndNext($event)"
            (navigateToReportsPage)="onNavigateBack()"
            (back)="onBack()"
            (writeNote)="onWriteNote()"
            (publishAnswers)="onPublishAnswers()"
          ></itag-berufsbildung-report-answer>

          <!-- Ziel (g)-->
          <div *ngIf="currentStep === goalStep">
            <itag-berufsbildung-report-goal
              [reportUuid]="report.uuid"
              [goals]="getAllGoals()"
              [readonly]="getReadonlyMode()"
              [role]="role"
              [navigationActive]="getNavigationActive()"
              [isFirstStep]="isFirstStep()"
              [isLastStep]="isLastStep()"
              (saveAnswerAndNext)="onSaveAndNext($event.answerUpdate, $event.saveOnly)"
              (navigateToReportsPage)="onNavigateBack()"
              (writeNote)="onWriteNote()"
              (back)="onBack()"
            ></itag-berufsbildung-report-goal>
          </div>
          <!-- Abschluss Probezeit (tpe)-->
          <itag-berufsbildung-report-trial-period-end
            *ngIf="getQuestionField(currentAnswer, 3) === 'tpe'"
            [reportUuid]="report.uuid"
            [answerUuid]="currentAnswer?.uuid"
            [readonly]="getReadonlyMode()"
            [navigationActive]="getNavigationActive()"
            [isFirstStep]="isFirstStep()"
            [isLastStep]="isLastStep()"
            (saveAnswerAndNext)="onSaveAndNext($event)"
            (navigateToReportsPage)="onNavigateBack()"
            (writeNote)="onWriteNote()"
            (back)="onBack()"
          ></itag-berufsbildung-report-trial-period-end>
          <!--Freier Text (ft)-->
          <itag-berufsbildung-report-free-text
            *ngIf="getQuestionField(currentAnswer, 3) === 'ft'"
            [reportUuid]="report.uuid"
            [answerUuid]="currentAnswer?.uuid"
            [readonly]="getReadonlyMode()"
            [role]="role"
            [navigationActive]="getNavigationActive()"
            [isFirstStep]="isFirstStep()"
            [isLastStep]="isLastStep()"
            [hasNote]="hasQuestionNote()"
            (saveAnswerAndNext)="onSaveAndNext($event)"
            (navigateToReportsPage)="onNavigateBack()"
            (back)="onBack()"
            (writeNote)="onWriteNote()"
          ></itag-berufsbildung-report-free-text>
          <!--Zielerreichung (gr)-->
          <itag-berufsbildung-report-goal-review
            *ngIf="getQuestionField(currentAnswer, 3) === 'gr'"
            [reportUuid]="report.uuid"
            [answerUuid]="currentAnswer?.uuid"
            [goalsFromLastPeriod]="getAllGoals(true)"
            [readonly]="getReadonlyMode()"
            [role]="role"
            [navigationActive]="getNavigationActive()"
            [isFirstStep]="isFirstStep()"
            [isLastStep]="isLastStep()"
            [canCreateNotes]="isUserPb"
            (saveAnswerAndNext)="onSaveAndNext($event)"
            (navigateToReportsPage)="onNavigateBack()"
            (back)="onBack()"
            (writeNote)="onWriteNote()"
            (publishAnswers)="onPublishAnswers()"
          ></itag-berufsbildung-report-goal-review>
        </div>

        <!--Ansicht Besprechung, wenn keine Rolle gesetzt ist-->
        <div *ngIf="!role">
          <kendo-tilelayout [columns]="2">
            <kendo-tilelayout-item title="Auszubildender" [col]="1">
              <kendo-tilelayout-item-body>
                <p *ngIf="!isAnswerForRole(currentAnswer, 'ab')">Diese Frage ist nur für Praxisbildner</p>
                <div *ngIf="isAnswerForRole(currentAnswer, 'ab') && isAnswerOfOtherRoleDisplayed(true)">
                  <!-- Normale Frage (nq)-->
                  <itag-berufsbildung-report-answer
                    *ngIf="getQuestionField(currentAnswer, 3) === 'nq'"
                    [reportUuid]="report.uuid"
                    [answerUuid]="currentAnswer?.uuid"
                    [readonly]="getReadonlyMode(true)"
                    [navigationActive]="getNavigationActive(true)"
                    [showAnswerToOtherRoleActive]="isUserAb"
                    [canCreateNotes]="isUserPb"
                    role="ab"
                    (writeNote)="onWriteNote()"
                    (saveAnswerAndNext)="onSaveAndNext($event,true)"
                    (showAnswerToOtherRole)="onShowAnswerToOtherRole()"
                  ></itag-berufsbildung-report-answer>
                  <!--Zielerreichung (gr)-->
                  <itag-berufsbildung-report-goal-review
                    *ngIf="getQuestionField(currentAnswer, 3) === 'gr'"
                    [reportUuid]="report.uuid"
                    [answerUuid]="currentAnswer?.uuid"
                    [goalsFromLastPeriod]="getAllGoals(true)"
                    [readonly]="getReadonlyMode(true)"
                    role="ab"
                    [navigationActive]="getNavigationActive(true)"
                    [isFirstStep]="isFirstStep()"
                    [isLastStep]="isLastStep()"
                    [showAnswerToOtherRoleActive]="isUserAb"
                    [canCreateNotes]="isUserPb"
                    (saveAnswerAndNext)="onSaveAndNext($event,true)"
                    (writeNote)="onWriteNote()"
                    (showAnswerToOtherRole)="onShowAnswerToOtherRole()"
                  ></itag-berufsbildung-report-goal-review>
                </div>
              </kendo-tilelayout-item-body>
            </kendo-tilelayout-item>

            <kendo-tilelayout-item title="Praxisbildner" [col]="2">
              <kendo-tilelayout-item-body>
                <div *ngIf="!isAnswerForRole(currentAnswer, 'pb')">
                  <p>Diese Frage ist nur für Auszubildende</p>
                  <div *ngIf="getNavigationActive()">
                    <button kendoButton themeColor="secondary" (click)="onBack()">Zurück</button>
                    <button kendoButton themeColor="primary" (click)="onSaveAndNext(undefined,false)" [style.margin-left]="'10px'">Nächste Frage</button>
                  </div>
                </div>
                <div *ngIf="isAnswerForRole(currentAnswer, 'pb') && isAnswerOfOtherRoleDisplayed(false)">
                  <itag-berufsbildung-report-answer
                    *ngIf="getQuestionField(currentAnswer, 3) === 'nq'"
                    [reportUuid]="report.uuid"
                    [answerUuid]="currentAnswer?.uuid"
                    [readonly]="getReadonlyMode()"
                    [navigationActive]="getNavigationActive()"
                    [isFirstStep]="isFirstStep()"
                    [isLastStep]="isLastStep()"
                    [showAnswerToOtherRoleActive]="isUserPb"
                    [canCreateNotes]="isUserPb"
                    role="pb"
                    (saveAnswerAndNext)="onSaveAndNext($event)"
                    (navigateToReportsPage)="onNavigateBack()"
                    (writeNote)="onWriteNote()"
                    (back)="onBack()"
                    (showAnswerToOtherRole)="onShowAnswerToOtherRole()"
                  ></itag-berufsbildung-report-answer>
                  <!-- Ziel (g)-->
                  <div *ngIf="currentStep === goalStep">
                    <itag-berufsbildung-report-goal
                      [reportUuid]="report.uuid"
                      [goals]="getAllGoals()"
                      [readonly]="getReadonlyMode()"
                      [navigationActive]="getNavigationActive()"
                      [isFirstStep]="isFirstStep()"
                      [isLastStep]="isLastStep()"
                      [isDiscussion]="true"
                      [showAnswerToOtherRoleActive]="isUserPb"
                      [canCreateNotes]="isUserPb"
                      role="pb"
                      (saveAnswerAndNext)="onSaveAndNext($event.answerUpdate,$event.saveOnly)"
                      (navigateToReportsPage)="onNavigateBack()"
                      (writeNote)="onWriteNote()"
                      (back)="onBack()"
                      (showAnswerToOtherRole)="onShowAnswerToOtherRole()"
                    ></itag-berufsbildung-report-goal>
                  </div>
                  <!-- Abschluss Probezeit (tpe)-->
                  <itag-berufsbildung-report-trial-period-end
                    *ngIf="getQuestionField(this.currentAnswer, 3) === 'tpe'"
                    [reportUuid]="report.uuid"
                    [answerUuid]="this.currentAnswer?.uuid"
                    [readonly]="getReadonlyMode()"
                    [navigationActive]="getNavigationActive()"
                    [isFirstStep]="isFirstStep()"
                    [isLastStep]="isLastStep()"
                    [isDiscussion]="true"
                    [showAnswerToOtherRoleActive]="isUserPb"
                    (saveAnswerAndNext)="onSaveAndNext($event)"
                    (navigateToReportsPage)="onNavigateBack()"
                    (writeNote)="onWriteNote()"
                    (back)="onBack()"
                    (showAnswerToOtherRole)="onShowAnswerToOtherRole()"
                  ></itag-berufsbildung-report-trial-period-end>
                  <!--Zielerreichung (gr)-->
                  <itag-berufsbildung-report-goal-review
                    *ngIf="getQuestionField(currentAnswer, 3) === 'gr'"
                    [reportUuid]="report.uuid"
                    [answerUuid]="currentAnswer?.uuid"
                    [goalsFromLastPeriod]="getAllGoals(true)"
                    [readonly]="getReadonlyMode()"
                    role="pb"
                    [navigationActive]="getNavigationActive()"
                    [isFirstStep]="isFirstStep()"
                    [isLastStep]="isLastStep()"
                    [showAnswerToOtherRoleActive]="isUserPb"
                    [canCreateNotes]="isUserPb"
                    (saveAnswerAndNext)="onSaveAndNext($event)"
                    (navigateToReportsPage)="onNavigateBack()"
                    (writeNote)="onWriteNote()"
                    (back)="onBack()"
                    (showAnswerToOtherRole)="onShowAnswerToOtherRole()"
                  ></itag-berufsbildung-report-goal-review>
                  <!--Freier Text (ft)-->
                  <itag-berufsbildung-report-free-text
                    *ngIf="getQuestionField(currentAnswer, 3) === 'ft'"
                    [reportUuid]="report.uuid"
                    [answerUuid]="currentAnswer?.uuid"
                    [readonly]="getReadonlyMode()"
                    role="pb"
                    [navigationActive]="getNavigationActive()"
                    [isFirstStep]="isFirstStep()"
                    [isLastStep]="isLastStep()"
                    [isDiscussion]="true"
                    [showAnswerToOtherRoleActive]="isUserPb"
                    (saveAnswerAndNext)="onSaveAndNext($event)"
                    (navigateToReportsPage)="onNavigateBack()"
                    (writeNote)="onWriteNote()"
                    (back)="onBack()"
                    (showAnswerToOtherRole)="onShowAnswerToOtherRole()"
                  ></itag-berufsbildung-report-free-text>
                </div>
              </kendo-tilelayout-item-body>
            </kendo-tilelayout-item>
          </kendo-tilelayout>
        </div>
        <div *ngIf="isUserPb" class="flex-row"><b>Notizen / Feedback</b></div>
        <itag-berufsbildung-note-feedback #noteFeedbackComponent [abEmail]="apprentice$ | async"></itag-berufsbildung-note-feedback>
        <itag-berufsbildung-note-feedback-list *ngIf="isUserPb" [period]="report.period" [abEmail]="apprentice$ | async"></itag-berufsbildung-note-feedback-list>
      </div>
    </kendo-card-body>
    <div class="spaceTop">
      <button kendoButton *ngIf="!role && isUserPb && report.state === 2 && isLastStep()" themeColor="primary" (click)="onPublishAnswers()">Bericht freigeben</button>
    </div>
  </kendo-card>
</div>

