<div class="content">
  <kendo-appbar themeColor="light">
    <kendo-appbar-section>
      <kendo-combobox
        [data]="listItems"
        [allowCustom]="false"
        [clearButton]="true"
        [suggest]="true"
        placeholder="e.g. e-mail"
        #eMails
        (valueChange)="onUserSelectionChanged(eMails.value)"
        style="width: 300px;"
        [value]="eMail"
      >
      </kendo-combobox>
    </kendo-appbar-section>
    <kendo-appbar-section>
      <button kendoButton (click)="doAddUser()" icon="add" ></button>
      <button kendoButton (click)="doRemove()" icon="trash" *ngIf="eMail"></button>
    </kendo-appbar-section>
  </kendo-appbar>

<!--  ANZEIGE DER ROLLEN-->
  <div *ngFor="let roleName of modulInfo.availableRoles" >&nbsp;
    <button kendoButton (click)="doEditDateRange(roleName)" icon="edit"></button>
    &nbsp;
    <kendo-switch
      #notification
      [checked]="isSet(roleName)"
      (valueChange)="onAddRemoveRole(notification.checked, roleName)"
    ></kendo-switch>
    &nbsp;
    <kendo-label
      class="k-checkbox-label"
      [for]="notification"
      [text]="roleName"
    ></kendo-label>
    <span *ngIf="roleHashDto[roleName]">
      <span>&nbsp;(&nbsp;</span>
      <span *ngIf="roleHashDto[roleName].from === 0">seit Stellenantritt</span>
      <span *ngIf="roleHashDto[roleName].from > 0">{{ roleHashDto[roleName].from }}</span>
      <span> - </span>
      <span *ngIf="!roleHashDto[roleName].until">ohne Ablauf</span>
      <span *ngIf="roleHashDto[roleName].until">{{ (roleHashDto[roleName].until) | date }}</span>
      <span>&nbsp;)&nbsp;</span>
    </span>

  </div>
</div>

<!--DIALOG LÖSCHEN-->
<kendo-dialog
  [title]="'Delete User ' + eMail + '?'"
  *ngIf="openedDelete"
  (close)="closeDialogRemove('cancel')"
  [minWidth]="250"
  [width]="450"
>
  <kendo-switch [(ngModel)]="applyForAll" #forAllAdd></kendo-switch>
  &nbsp;
  <kendo-label
    class="k-checkbox-label"
    [for]="forAllAdd"
    text="für alle Module"
  ></kendo-label>
  <kendo-dialog-actions>
    <button kendoButton (click)="closeDialogRemove('no')" icon="cancel"></button>
    <button kendoButton (click)="closeDialogRemove('yes')" themeColor="primary" icon="trash"></button>
  </kendo-dialog-actions>
</kendo-dialog>

<kendo-dialog
  title="Add new User"
  *ngIf="openedAddNew"
  (close)="closeDialogAdd('cancel')"
  [minWidth]="250"
  [width]="450"
>
  <kendo-label
    class="k-checkbox-label"
    [for]="eMailAdd"
    text="new user"
  ></kendo-label>
  &nbsp;
  <input type="text" #eMailAdd kendoTextBox>
  <br>

  <kendo-switch [(ngModel)]="applyForAll" #forAllAdd></kendo-switch>
  &nbsp;
  <kendo-label
    class="k-checkbox-label"
    [for]="forAllAdd"
    text="für alle Module"
  ></kendo-label>

  <p>Die Rolle "user" ist Standard.</p>

  <kendo-dialog-actions>
    <button kendoButton (click)="closeDialogAdd('no')" icon="cancel"></button>
    <button kendoButton (click)="closeDialogAdd('yes', eMailAdd.value)" themeColor="primary" icon="save" [disabled]="eMailAdd.value.length === 0"></button>
  </kendo-dialog-actions>
</kendo-dialog>

<!--VON BIS AUSWAHL DER ROLLEN-->
<kendo-dialog
  title="Change duration"
  *ngIf="openedDuration"
  (close)="closeDialogDuration('cancel')"
  [minWidth]="250"
  [width]="450"
>
  <ng-container *ngFor="let kv of selectedUserRole | keyvalue">
    <kendo-label
      class="k-checkbox-label"
      [for]="from"
      text="from"
    ></kendo-label>
    &nbsp;
    <kendo-datepicker
      #from
      [value]="getDateInstance(selectedUserRole[kv.key].from)"
      (valueChange)="selectedUserRole[kv.key].from = $event.getTime()"
    ></kendo-datepicker>

    <br>

    <kendo-label
      class="k-checkbox-label"
      text="until"
    ></kendo-label>
    &nbsp;
    <kendo-datepicker
      #until
      *ngIf="selectedUserRole[kv.key].until"
      [value]="getDateInstance(selectedUserRole[kv.key].until)"
      (valueChange)="selectedUserRole[kv.key].until = $event.getTime()"
    ></kendo-datepicker>
    <kendo-datepicker
      #until
      *ngIf="!selectedUserRole[kv.key].until"
      (valueChange)="selectedUserRole[kv.key].until = $event.getTime()"
    ></kendo-datepicker>
  </ng-container>


  <kendo-dialog-actions>
    <button kendoButton (click)="closeDialogDuration('no')" icon="cancel"></button>
    <button kendoButton (click)="closeDialogDuration('yes')" themeColor="primary" icon="save"></button>
  </kendo-dialog-actions>
</kendo-dialog>
