<kendo-card style="width: 100%">
  <kendo-card-header>Tasks</kendo-card-header>
  <kendo-card-body>
    <itag-berufsbildung-tasks-grid></itag-berufsbildung-tasks-grid>
  </kendo-card-body>
</kendo-card>
