<div *ngFor="let goalReview of goalReviews; index as i">
  <div class="flex-row flex-100px space-top">
    <div class="flex-container-column flex=4">{{i + 1}}:</div>
    <div class="flex-container-column flex-20">{{goalReview.competence}}</div>
    <div class="flex-container-column flex-21">{{goalReview.textFromLastGoal}}</div>
    <div class="flex-container-column flex-12" style="padding-left: 15px">{{goalReview.mark !== 'X' ? goalReview.mark : '-'}}</div>
    <div class="flex-container-column flex-43">{{goalReview.explanation}}</div>
  </div>
</div>
