<div class="center">
  <kendo-card width="100%">
    <kendo-card-header>
      <kendo-icon name="information" size="medium"></kendo-icon>
      Information
    </kendo-card-header>
    <kendo-card-body>
      <p>Die Anwendung Portal ist der Einstieg in die Anwendungen der {{ contactInfo.name }}.</p>
      <p>Bei Fragen zur Anwendung wenden Sie sich bitte an die <a [href]="'mailto:' + contactInfo.eMail">Kontaktperson</a></p>
      <hr>
      <p>Angemeldeter Benutzer: <b>{{ message }}</b></p>
      <hr>
      <kendo-tabstrip *ngIf="userService.userDto$ | async">
        <kendo-tabstrip-tab [selected]="first" *ngFor="let moduleInfo of modules; let first=first">
          <ng-template kendoTabTitle>
            {{ moduleInfo.moduleName }}
            &nbsp;
            <itag-berufsbildung-health-state [info]="moduleInfo"></itag-berufsbildung-health-state>
          </ng-template>
          <ng-template kendoTabContent>
            <div class="content">
              <itag-berufsbildung-info-detail [userDto]="userDto" [info]="moduleInfo"></itag-berufsbildung-info-detail>
            </div>
          </ng-template>
        </kendo-tabstrip-tab>
      </kendo-tabstrip>
    </kendo-card-body>
  </kendo-card>
</div>
