<kendo-card style="width: 100%">
  <kendo-card-header>Interflex</kendo-card-header>
  <kendo-card-body>
    <itag-berufsbildung-inter-flex-grid></itag-berufsbildung-inter-flex-grid>
  </kendo-card-body>
</kendo-card>
