@import 'variables';

// Normalization
body,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

// App styles
.k-drawer-container {
    background-color: $background-color;

    .k-drawer {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

        &.k-drawer-start {
            border-right-width: 0;
        }
    }

    &.k-drawer-push .k-drawer {
        position: sticky;
        top: 80px;
        height: calc(100vh - 80px);
    }

    .k-drawer-item {
        user-select: none;
    }

    .k-drawer-content {
        overflow: hidden;
    }
}

.card-container {
    background-color: $primary;
    padding: 40px 0;
    text-align: center;

    .card-header-wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    &.grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 10px;
        row-gap: 1em;
    }

    .card-buttons {
        .k-button {
            min-width: 105px;
        }
    }

    .card-ranges .k-dateinput {
        width: 105px;
    }

    .chart-tooltip {
        text-align: center;
        font-size: 15px;
        font-weight: bold;
    }

    .card-ranges .k-i-calendar {
        color: #656565;
        cursor: pointer;
        margin-right: 5px;
    }

    .card-ranges {
        white-space: nowrap;

        .k-daterangepicker {
            .k-textbox-container,
            .k-floating-label-container {
                padding-top: 0;
                min-width: 105px;
            }

            .k-label {
                display: none;
            }
        }
    }

    .card-component {
        grid-column: 1 / -1;
        overflow: hidden;
    }
}

@media (min-width: 480px) {
    .card-container {
        text-align: initial;
        padding: 30px;

        &.grid {
            grid-template-columns: repeat(2, 1fr);
        }

        .card-title {
            grid-column: 1 / 2;
            grid-row: 1;
        }

        .card-buttons {
            text-align: center;
            grid-column: 1 / -1;
            grid-row: 2;
        }

        .card-ranges {
            text-align: right;
            grid-column: 2 / 3;
            grid-row: 1;
        }
    }
}

@media (min-width: 768px) {
    .card-container {
        margin: 25px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

        &.grid {
            grid-template-columns: repeat(3, 1fr);
        }

        .card-buttons {
            text-align: center;
        }

        .card-ranges {
            text-align: right;
            grid-column: 3 / 4;
        }

        .card-component {
            grid-column-start: 1;
            grid-column-end: -1;
        }
    }
}

@media (min-width: 900px) {
    .card-container {
        .card-buttons {
            text-align: center;
            grid-column: 2 / 3;
            grid-row: 1;
        }
    }
}

@media (max-width: 900px) {
    .card-header-wrapper {
        flex-direction: column;

        .card-buttons,
        .card-ranges {
            margin-top: 1rem;
            text-align: left;
        }
    }
}

