
.flex-left {
  flex-grow: 8;
  padding: 5px;
}
.flex-center {
  flex-grow: 2;
  text-align: right;
  margin-left: 5px;
  margin-right: 5px;
}
.flext-right {
  min-width: 40px;
  text-align: center;
}

// Flex row/col + grid.
.flex-row { display: flex; flex-direction: row; }
.flex-col { display: flex; flex-direction: column; }
.grid { display: grid; }
.flex-align-center {
  display: flex;
  align-content: center;
}

// Flex-wrap utils.
.flex-wrap { flex-wrap: wrap; }  // Mostly used with flex-row, when wrapping is desired.
.flex-col-xs { @media screen and (max-width: 599px) { flex-direction: column; } }  // Switch from flex-row to flex-col on mobile.

// Gap.
.gap-4 { gap: 4px; }
.gap-8 { gap: 8px; }
.gap-10 { gap: 10px; }
.gap-12 { gap: 12px; }
.gap-16 { gap: 16px; }

// Justify content.
.space-between { justify-content: space-between; }  // Used very often with flex-row.
.justify-center { justify-content: center; }  // Used to center something via flexbox.

// Align items. (Naming inspiration: https://tailwindcss.com/docs/align-items.)
.items-center { align-items: center; }  // Used very often with flex-row.

// Flex/grow/shrink properties https://developer.mozilla.org/en-US/docs/Web/CSS/flex.
.flex-1 { flex: 1 }  // Same as flex: 1 1 0 (grow, shrink, basis 0). Has similar effect to width: 100%;
.flex-grow { flex-grow: 1; }  // Same as flex: 1 1 auto (grow, shrink, basis auto). For spacer, etc.
.flex-4 { flex: 4; }
.flex-12 { flex: 12; }
.flex-20 { flex: 20; }
.flex-21 { flex: 21; }
.flex-30 { flex: 30; }
.flex-34 { flex: 34; }
.flex-43 { flex: 43; }
.flex-45 { flex: 45; }
.flex-50 { flex: 50; }
.flex-70 { flex: 70; }
.flex-80 { flex: 80; }
.flex-90 { flex: 90; }
.flex-100 { flex: 100; }
.flex-200 { flex: 200; }
.flex-auto { flex: auto; }
.flex-fill { flex: fit-content};

// Hide & show for different breakpoints.
.hide-xs    { @media screen and (max-width: 599px) { display: none; } }  // Hide on mobile.
.hide-gt-xs { @media screen and (min-width: 600px) { display: none; } }  // Show only on mobile. Hide on desktop.
.hide-sm    { @media screen and (max-width: 959px) { display: none; } }  // Hide on mobile/tablet.
.hide-gt-sm { @media screen and (min-width: 960px) { display: none; } }  // Show only on mobile/tablet. Hide on desktop.
