// Global variables here
$background-color: #D4D6E4;

$link-color: #71A6FF;
$white: #FFFFFF;
/* You can add global styles to this file, and also import other style files */
$border-radius: 2px;
$primary: #202B86;
$secondary: #374CB1;
$info: #374CB1;
$success: #81af17;
$warning: #ffe162;
$error: #d51923;
$body-text: #424242;
$body-bg: #ffffff;
$headings-text: #272727;
$subtle-text: #666666;
$disabled-text: #8f8f8f;
$component-text: #424242;
$component-bg: #ffffff;
$base-text: #424242;
$base-bg: #fafafa;
$hovered-text: #424242;
$hovered-bg: #ececec;
$selected-text: #ffffff;
$selected-bg: #004774;
$kendo-button-text: #424242;
$kendo-button-bg: #f5f5f5;
$link-text: green;
$link-hover-text: #d6534a;
$link-hover-text-hover: #c72c21;
$series-a: #ff6358;
$series-b: #ffe162;
$series-c: #4cd180;
$series-d: #4b5ffa;
$series-e: #ac58ff;
$series-f: #ff5892;
