<div class="flex-container-column flex-100">
  <div class="flex-row flex-100" style="margin-bottom: 7px">
    <div class="flex-container-column flex-50">
      <itag-berufsbildung-month-range-selector (fromUntilMonthChange)="setFromAndUntilMonth($event)"></itag-berufsbildung-month-range-selector>
    </div>
    <div class="flex-container-column flex-50">
      <itag-berufsbildung-filter
        [showOwnerFilterMultiple]="true"
        [showEventCategoryFilter]="true"
        [numberOfColumns]="2"
      ></itag-berufsbildung-filter>
    </div>
  </div>
  <div class="flex-row flex-fill">
    <kendo-grid
    #grid
      [data]="dateEvents"
      [pageSize]="gridState.take"
      [skip]="gridState.skip"
      [pageable]="false"
      [sortable]="false"
      [filterable]="false"
      [filter]="gridState.filter"
      [groupable]="false"
      [style]="'height: ' + (height - 300) + 'px;'"
      (dataStateChange)="onStateChange($event)"
    >
      <kendo-grid-column field="date" title="Datum" [width]="10">
        <ng-template kendoGridCellTemplate let-dataItem>
          {{dataItem.date | date}}
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column field="dayName" title="Tag" [width]="5"></kendo-grid-column>

      <ng-container *ngFor="let ownerName of ownerNames">
        <kendo-grid-column [field]="ownerName" [title]="ownerName" [width]="75/ownerNames.length"></kendo-grid-column>
      </ng-container>
    </kendo-grid>
  </div>
</div>


<!--Scheduler is hidden, because it is only used to retrieve events that are displayed in the grid.
It is much more convenient to do it this way, since the scheduler component parses recurrenceRules which we would have to parse
ourselves and that is rather complicated...-->
<kendo-scheduler
  #scheduler
  [hidden]="true"
  [kendoSchedulerBinding]="editService.events | async | toAny"
  [modelFields]="editService.fields"
  [loading]="editService.loading"
  [selectedViewIndex]="0"
  [selectedDate]="fromMonth"
  style="width: auto; height: 1200px;"
>
  <ng-template kendoSchedulerToolbarTemplate>
    <itag-berufsbildung-custom-scheduler-toolbar #toolbar></itag-berufsbildung-custom-scheduler-toolbar>
    <ul kendoSchedulerToolbarNavigation></ul>
  </ng-template>

  <kendo-scheduler-month-view></kendo-scheduler-month-view>

</kendo-scheduler>
