<kendo-card style="width: 100%">
  <kendo-card-header>
    <kendo-icon name="folder-open" size="medium"></kendo-icon>
    Übersicht
  </kendo-card-header>
  <kendo-card-body>
    <div class="flex-row" style="width: 100%">
      <itag-berufsbildung-entry-overview-button-bar style="width: 100%"></itag-berufsbildung-entry-overview-button-bar>
    </div>
    <div class="flex-row" style="width: 100%">
      <itag-berufsbildung-entry-grid></itag-berufsbildung-entry-grid>
    </div>

  </kendo-card-body>
</kendo-card>
