<div class="container flex-container-column flex-100 flex-align-center">
  <kendo-card width="600px">
    <kendo-card-header>
      <div class="flex-row flex-100" style="height: 60px">
        <div class="flex-container-column flex-align-center">
          <kendo-icon name="file-word"></kendo-icon>
        </div>
        <div class="flex-container-column flex-align-center" style="margin-left: 2px">
          <h4>{{getPageTitle()}}</h4>
        </div>
      </div>
    </kendo-card-header>
    <kendo-card-body>
      <kendo-label text="Termin, an dem der Auszubildende seine Antworten freigegeben haben muss:">
        <div class="form-input">
          <kendo-datetimepicker
            calendarType="infinite"
            [format]="'dd.MM.yyyy HH:mm'"
            [value]="getSelectedDueDateAnswers"
            (valueChange)="dueDateAnswersValueChanged($event)"
          ></kendo-datetimepicker>
        </div>
      </kendo-label>
      <br/>
      <kendo-label text="Besprechungstermin:">
        <div class="form-input">
          <kendo-datetimepicker
            calendarType="infinite"
            [style.margin-bottom]="'10px'"
            [format]="'dd.MM.yyyy HH:mm'"
            [value]="getSelectedMeetingDate"
            (valueChange)="meetingDateValueChanged($event)"
          ></kendo-datetimepicker>
        </div>
      </kendo-label>

      <br/>
      <b>Dieser Bericht muss bis am {{getDueDateReportAsString()}} dem Berufsbildner zurückgemeldet werden.</b>

    </kendo-card-body>
    <kendo-card-actions>
      <button kendoButton [themeColor]="'primary'" (click)="onSaveReport()" [disabled]="isSaveDisabled()">Speichern und Einladung senden</button>
      <button kendoButton [themeColor]="'secondary'" (click)="onCancelClick()">Abbrechen</button>
    </kendo-card-actions>
  </kendo-card>
</div>
