<div>
  <div class="flex-row flex-100px dividerLine">
    <div class="flex-container-column flex-45">
      <b>Beurteilungsmerkmale</b>
    </div>
    <div class="flex-container-column flex-12">
      <b>Beurteilung</b>
    </div>
    <div class="flex-container-column flex-43">
      <b>Begründung und Ergänzung</b>
    </div>
  </div>
</div>
