<kendo-card width="'100%'" [style]="'height: ' + (height - 85) + 'px;'">
  <kendo-card-header>
    <div class="flex-row flex-100" style="height: 60px">
      <div class="flex-container-column flex-align-center">
        <button kendoButton (click)="onNavigateBack()" icon="arrow-left" themeColor="secondary" title="zurück"></button>
      </div>
      <div class="flex-container-column flex-align-center" style="margin-left: 8px">
        <h4>Notizen / Feedback von {{abUserEmail | fullName}} der Periode {{period}}</h4>
      </div>
    </div>
  </kendo-card-header>
  <kendo-card-body>
    <button kendoButton themeColor="primary" (click)="onWriteNote()" style="margin-bottom: 10px">Notiz / Feedback schreiben</button>
    <itag-berufsbildung-note-feedback #noteFeedback [abEmail]="abUserEmail"></itag-berufsbildung-note-feedback>
    <itag-berufsbildung-note-feedback-list [period]="period" [abEmail]="abUserEmail"></itag-berufsbildung-note-feedback-list>
  </kendo-card-body>
</kendo-card>

