<div class="flex-row">
  <div class="flex-container-column" style="margin-right: 5px">
    <kendo-label
      class="k-display-block"
      [for]="from"
      text="Von"
    >
    </kendo-label>
    <kendo-datepicker
      #from
      [(ngModel)]="fromMonth"
      (valueChange)="onValueChange()"
      format="MMMM yyyy"
      activeView="year"
      bottomView="year"
    >
    </kendo-datepicker>
  </div>
  <div class="flex-container-column">
    <kendo-label
      class="k-display-block"
      [for]="until"
      text="Bis"
    >
    </kendo-label>
    <kendo-datepicker
      #until
      [(ngModel)]="untilMonth"
      (valueChange)="onValueChange()"
      format="MMMM yyyy"
      activeView="year"
      bottomView="year"
    >
    </kendo-datepicker>
  </div>
</div>
