
<div class="flex-container-column"  style="margin-bottom: 15px" *ngIf="role==='ab'">
  <div class="flex-row flex-100">
    <button
      kendoButton
      kendoPopoverAnchor
      [popover]="rejectedEntriesPopover"
      icon="file-error"
    >
      Abgelehnte Einträge
      <kendo-badge *ngIf="getRejected().length > 0" [themeColor]="'error'">{{ getRejected().length }}</kendo-badge>
    </button>
    <div class="flex-90"></div>
    <button kendoButton icon="plus" [routerLink]="['/study-documentation', 'ab', 'entry', 'create']"></button>
  </div>
</div>

<kendo-popover #rejectedEntriesPopover [width]="250">
  <ng-template kendoPopoverTitleTemplate>
    Einträge
  </ng-template>
  <ng-template kendoPopoverBodyTemplate>
    <div *ngFor="let entry of getRejected()" style="margin-bottom: 15px">
      <button
        kendoButton
        icon="edit"
        [themeColor]="'primary'"
        style="width: 100%"
        [routerLink]="['/study-documentation', 'ab', 'entry', entry.uuid]"
      >{{ entry.title }}</button>
    </div>
  </ng-template>
</kendo-popover>
