.report {
  display: flex;
  height: 55px;
  padding: 10px;
  align-items: center;
}

.report.border-top {
  border-top: solid;
  border-color: #ecebeb;
  border-width: thin;
}

.report-name {
  margin-left: 10px;
  width: 17%;
}

.report-status {
  margin-left: 20px;
}

.report-status-buttons {
  margin-left: 5px;
}

.button-spacer {
  margin-left: 6px;
}

.report-actions {
  margin-left: 20px;
}

.align-right {
  margin-left: auto;
  margin-right: 0;
}

.card-header {
  display: flex;
  align-items: center;
}

.items-right {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.status-red {
  background-color: lightcoral;
}

.status-yellow {
  background-color: rgb(211, 211, 73);
}

.status-green {
  background-color: lightgreen;
}
