<div class="items-right">
  <kendo-label class="k-checkbox-label" [for]="showAllReportsCheckbox" text="Alle Berichte anzeigen"></kendo-label>
  <input type="checkbox" class="button-spacer" #showAllReportsCheckbox kendoCheckBox [(ngModel)]="showAllReports" (change)="filterReports()"/>
</div>
  <kendo-listview
    [data]="reportsFiltered">
    <ng-template
      kendoListViewItemTemplate
      let-report="dataItem"
      let-isFirst="isFirst">
      <div class="report"  [class.border-top]="!isFirst">
        <div class="report-name">
          <b>{{getReportName(report.reportTypeId)}}</b><br/>
          {{report.period}}
        </div>
        <div class="report-status">
        </div>
        <div class="report-status-buttons">
          <table>
            <tr>
              <td>
                <div kendoTooltip position="top">
                  <kendo-icon name="file-word" title="Bericht erstellt, noch keine Antworten geschrieben."></kendo-icon>
                </div>
              </td>
              <td>
                <div kendoTooltip position="top">
                  <kendo-icon name="user" title="Auszubildender hat Antworten geschrieben und freigegeben. Antworten können vom PB angeschaut werden."></kendo-icon>
                </div>
              </td>
              <td>
                <div kendoTooltip position="top">
                  <kendo-icon name="accessibility" title="Praxisbildner hat Antworten geschrieben."></kendo-icon>
                </div>
              </td>
              <td>
                <div kendoTooltip position="top">
                  <kendo-icon name="eye" title="Bericht wurde besprochen und kann vom Auszubildenden bestätigt werden."></kendo-icon>
                </div>
              </td>
              <td>
                <div kendoTooltip position="top">
                  <kendo-icon name="track-changes-accept" title="Bericht wurde bestätigt und kann ausgedruckt werden."></kendo-icon>
                </div>
              </td>
              <td
                [class]="report.state === 4 && report.hasMarkD ? 'status-red'
                : report.state > 4 && report.hasMarkD ? 'status-yellow' : ''"
              >
                <div kendoTooltip position="top">
                  <kendo-icon name="bell" title="Im Bericht ist eine negative Bewertung D enthalten. Bericht muss physisch unterschrieben werden. (Kreuz bedeutet, es gab kein D)"></kendo-icon>
                </div>
              </td>
              <td
                [class]="report.state === 4 && report.hasMarkD ? 'status-red'
                : report.state > 4 && report.hasMarkD ? 'status-yellow' : ''"
              >
                <div kendoTooltip position="top">
                  <kendo-icon name="signature" title="Der Berufsbildner hat die Unterschriften erhalten. (Kreuz bedeutet, es gab kein D und brauchte keine Unterschriften)"></kendo-icon>
                </div>
              </td>
              <td>
                <div kendoTooltip position="top">
                  <kendo-icon name="folder-open" title="Der Berufsbildner hat den Bericht an die Personalabteilung weitergeleitet."></kendo-icon>
                </div>
              </td>
            </tr>
            <tr>
              <td><kendo-icon [name]="report.state >= 0 ? 'check' : 'unlock'"></kendo-icon></td>
              <td><kendo-icon [name]="report.state === 0 ? 'gear' : (report.state >= 1 ? 'check' : 'unlock')"></kendo-icon></td>
              <td><kendo-icon [name]="arePbAnswersComplete(report) ? 'check' : (report.state === 0 ? 'gear' : 'unlock')"></kendo-icon></td>
              <td>
                <kendo-icon *ngIf="isPb || isBb || isAdmin" [name]="report.state === 1 ? 'gear' : (report.state >= 3 ? 'check' : 'unlock')"></kendo-icon>
                <!--Bei AB wird der Status erst als in Bearbeitung angezeigt, wenn der PB die Besprechung freigegeben hat-->
                <kendo-icon *ngIf="isAb" [name]="report.state === 2 ? 'gear' : (report.state >= 3 ? 'check' : 'unlock')"></kendo-icon>
              </td>
              <td><kendo-icon [name]="report.state === 3 ? 'gear' : (report.state >= 4 ? 'check' : 'unlock')"></kendo-icon></td>
              <td><kendo-icon
                [name]="report.state === 4 && report.hasMarkD ? 'gear'
                : (report.state >= 5 && report.hasMarkD ? 'check'
                : (report.state >= 5 && !report.hasMarkD ? 'check' : 'question'))"
              >
              </kendo-icon></td>
              <td><kendo-icon
                [name]="report.state === 4 && report.hasMarkD ? 'gear'
                : (report.state >= 5 && report.hasMarkD ? 'check'
                : (report.state >= 5 && !report.hasMarkD ? 'check' : 'question'))"
              >
              </kendo-icon></td>
              <td><kendo-icon [name]="report.state === 5 ? 'gear' : (report.state > 5 ? 'check' : 'unlock')"></kendo-icon></td>
            </tr>
          </table>
        </div>
        <div class="report-actions">
          <button kendoButton
                  *ngIf="isPb"
                  [themeColor]="'primary'"
                  class="button-spacer"
                  (click)="onNotesClicked(report)"
          >Notizen</button>
          <button kendoButton
                  *ngIf="(isAb && isUserAbOrPbOfReport(report, true) && report.state >= 0 && report.state < 2) || (isPb && isUserAbOrPbOfReport(report) && report.state === 1)"
                  [themeColor]="'primary'"
                  class="button-spacer"
                  (click)="onAnswersAbClicked(report)"
          >Antworten AB</button>
          <button kendoButton
                  *ngIf="isPb && isUserAbOrPbOfReport(report) && report.state === 1"
                  themeColor="warning"
                  class="button-spacer"
                  (click)="isRejectDialogOpen = true; reportToReject = report"
          >Antworten AB zurückweisen</button>
          <button kendoButton
                  *ngIf="isPb && isUserAbOrPbOfReport(report) && report.state < 2"
                  [themeColor]="'primary'"
                  class="button-spacer"
                  (click)="onAnswersPbClicked(report)"
          >Antworten PB</button>
          <button kendoButton
                  [themeColor]="'primary'"
                  class="button-spacer"
                  *ngIf="( (isPb && report.state >= 1 && report.state <= 2 && arePbAnswersComplete(report) && isUserAbOrPbOfReport(report) ) || (isAb && report.state === 2 && (isUserAbOrPbOfReport(report, true)) ) ) "
                  (click)="onDiscussionClicked(report)"
          >Besprechen</button>
          <button kendoButton
                  *ngIf="isPb && isUserAbOrPbOfReport(report) && report.state < 1"
                  [themeColor]="'secondary'"
                  class="button-spacer"
                  (click)="onSendReminder(report)"
          >Reminder</button>
          <button kendoButton
                  [themeColor]="'primary'"
                  class="button-spacer"
                  *ngIf="isAb && isUserAbOrPbOfReport(report, true) && report.state === 3"
                  (click)="isAcceptDialogOpen = true; reportToAccept = report"
          >Akzeptieren</button>
          <button kendoButton
                  *ngIf="isBb && report.state === 4"
                  [themeColor]="'primary'"
                  class="button-spacer"
                  (click)="onSignaturesReceived(report)"
          >Unterschriften erhalten</button>
          <button kendoButton
                  *ngIf="isBb && report.state === 5"
                  [themeColor]="'primary'"
                  class="button-spacer"
                  (click)="onSendToHr(report)"
          >Weiterleiten an Personalabteilung</button>
          <button kendoButton
                  [themeColor]="'warning'"
                  class="button-spacer"
                  *ngIf="isAdmin"
                  (click)="onResetClicked(report)"
          >Zurücksetzen</button>
        </div>
        <div class="align-right">
          <button kendoButton *ngIf="report.state >= 3" [themeColor]="'primary'" icon="pdf" (click)="onPrintPdf(report)"></button>
          <button kendoButton *ngIf="isPb  && report.state < 2" [themeColor]="'secondary'" class="button-spacer" icon="edit" (click)="onEditReportClick(report)"></button>
        </div>
      </div>

      <!--Dialog für Zurückweisen der Antworten als PB-->
      <kendo-dialog
        title="Antworten zurückweisen?"
        *ngIf="isRejectDialogOpen"
        (close)="isRejectDialogOpen = false"
      >
        <p>Wollen Sie die Antworten des Auszubildenden zurückweisen?</p>
        <kendo-dialog-actions>
          <button kendoButton (click)="onResetClicked(reportToReject)" themeColor="warning">Zurückweisen</button>
          <button kendoButton (click)="isRejectDialogOpen = false" themeColor="primary">Abbrechen</button>
        </kendo-dialog-actions>
      </kendo-dialog>

      <!--Dialog für Akzeptieren als AB-->
      <kendo-dialog
        title="Bericht Akzeptieren?"
        *ngIf="isAcceptDialogOpen"
        (close)="isAcceptDialogOpen = false"
      >
        <p>Soll der Bericht akzeptiert werden?</p>
        <kendo-dialog-actions>
          <button kendoButton (click)="onAcceptReport(reportToAccept)" themeColor="primary">Akzeptieren</button>
          <button kendoButton (click)="isAcceptDialogOpen = false" themeColor="secondary">Abbrechen</button>
        </kendo-dialog-actions>
      </kendo-dialog>
    </ng-template>

  </kendo-listview>

