@import 'apps/portal/ui/src/styles/index';

.box {
  border: gray solid 1px;
  margin: 5px;
  padding-left: -10px;
}

.msg-title {
  padding: 0 10px;
  display: flex;
  flex-direction: row;
}

.msg-text {
  padding: 0 10px;
  text-align: left;
}

.error {
  background-color: $error;
  color: $base-text;
}
.warning {
  background-color: $warning;
  color: $headings-text;
}
.info {
  background-color: $info;
  color: $base-text;
}
.success {
  background-color: $success;
  color: $base-text;
}
.debug {
  background-color: $base-bg;
  color: $headings-text;
}

.none {
  background-color: transparent;
  color: $base-text
}
