<div class="box" *ngIf="notificationMessage">
  <div class="msg-text msg-title" [ngClass]="getClassName(notificationMessage.type)">
    <button kendoButton size="small" fillMode="flat" icon="trash" (click)="closeClick()"></button>
    <div style="margin-top: 5px;">{{ notificationMessage.created | date:'H:mm:ss.SSS' }}</div>
  </div>
  <p class="msg-text">{{ notificationMessage.message }}</p>
</div>
